begin tran
DECLARE @master_id int;
set @master_id=10229;
begin
delete teflow_base_data_master where master_id=@master_id;
delete teflow_base_data_detail where master_id=@master_id;
SET IDENTITY_INSERT teflow_base_data_master   ON
INSERT teflow_base_data_master(master_id,field_name,type_code) VALUES( @master_id,'PendingFormList','01');
SET IDENTITY_INSERT teflow_base_data_master   OFF
INSERT teflow_base_data_detail VALUES( @master_id,30320,N'北京－友邦保险团体保险计划(组合)投保流程',NULL);
INSERT teflow_base_data_detail VALUES( @master_id,30319,N'友邦保险团体保险计划(组合)投保流程',NULL);
INSERT teflow_base_data_detail VALUES( @master_id,20264,N'广东－友邦保险团体保险计划(组合)投保流程',NULL);
commit
end;

/*30320 begin*/
IF EXISTS(SELECT 1 FROM sysobjects WHERE name = N'teflow_30320_Pend' AND xtype='U')
DROP TABLE teflow_30320_Pend;
GO

CREATE TABLE teflow_30320_Pend (
	PendingList   varchar(100) NULL,
	field_Pend_3  varchar(500) NULL,
	field_Pend_5 varchar(1) NULL,
	id numeric(12, 0) IDENTITY(1,1) NOT NULL,
	request_no varchar (30) NULL
) ON [PRIMARY];


Declare
 @formId varchar(10),
 @newmaster_id varchar(10);
set @formId=30320;
set @newmaster_id=10210;
begin
select * from teflow_form_section where section_remark= N'系统流程控制' and form_system_id=@formId and table_name=N'teflow_30320_SystemFW';
update  teflow_form_section  set order_id='94'  where section_remark= N'系统流程控制' and form_system_id=@formId and table_name=N'teflow_30320_SystemFW';
delete from teflow_form_section where form_system_id = @formId and section_id =  'Pend' 
Insert into teflow_form_section ( form_system_id, section_id, section_type, section_remark, table_name, ORDER_ID )  values ( 30320,  'Pend' ,  '01' ,  '照会列表' ,  'teflow_30320_Pend' ,  '93'  ); 
select * from teflow_form_section where form_system_id=@formId;
delete from teflow_form_section_field where form_system_id = @formId and section_id = 'Pend' ;
Insert into teflow_form_section_field ( form_system_id, section_id, field_id, field_label, field_type, is_required, data_type, field_length, source_type, source_sql, order_id, decimal_digits, high_level, is_money, is_singlerow, controls_width, controls_height, field_comments, comment_content, is_readonly, event_click, event_dbclick, event_onfocus, event_onblur, event_onchange, default_value, column_width )  values ( @formId,  'Pend' ,  'field_Pend_3' ,  '照会内容' , 1, -1, 1, 500, 0,  '' , 3, 0, -1, -1, -1, 500, 0,  '' ,  '' , -1,  '' ,  '' ,  '' ,  '' ,  '' ,  '' , 25 ); 
Insert into teflow_form_section_field ( form_system_id, section_id, field_id, field_label, field_type, is_required, data_type, field_length, source_type, source_sql, order_id, decimal_digits, high_level, is_money, is_singlerow, controls_width, controls_height, field_comments, comment_content, is_readonly, event_click, event_dbclick, event_onfocus, event_onblur, event_onchange, default_value, column_width )  values ( @formId,  'Pend' ,  'field_Pend_5' ,  '是否完成' , 6, -1, 1, 1, 0,  '' , 5, 0, -1, -1, -1, 0, 0,  '' ,  '' , -1,  '' ,  '' ,  '' ,  '' ,  '' ,  '' , 10 ); 
Insert into teflow_form_section_field ( form_system_id, section_id, field_id, field_label, field_type, is_required, data_type, field_length, source_type, source_sql, order_id, decimal_digits, high_level, is_money, is_singlerow, controls_width, controls_height, field_comments, comment_content, is_readonly, event_click, event_dbclick, event_onfocus, event_onblur, event_onchange, default_value, column_width )  values ( @formId,  'Pend' ,  'PendingList' ,  '照会' , 7, -1, 1, 100, 0,  '' , 0, 0, -1, 0, -1, 0, 0,  '' ,  '' , -1,  '' ,  '' ,  '' ,  '' ,  '' ,  '200' , 20 ); 
insert into teflow_field_basedata values (@newmaster_id, @formId, 'Pend', 'field_Pend_5');
end;

-------------------------------------
----PATCH END----select * from teflow_form_section where form_system_id=30320
-------------------------------------


begin tran
Declare @idflow int;
DECLARE @approver_staff_code CHAR(100)
SELECT @idflow = flow_id FROM teflow_wkf_define WHERE form_system_id=30320
SELECT @approver_staff_code=approver_staff_code FROM [teflow_wkf_detail] WHERE flow_id=@idflow AND node_id=27
DELETE FROM [teflow_wkf_detail] WHERE [flow_id]=@idflow
DELETE FROM [teflow_wkf_detail_rule] WHERE [flow_id]=@idflow
DELETE FROM [teflow_wkf_handle] WHERE [flow_id]=@idflow 


INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'24','4','23','生成合同',0.00,'0',0,'00','','3816px','3119px','','','10.Contact','','')
INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'0','','','Begin',0.00,'0',0,'','','615px','1456px','','','','','')
IF @approver_staff_code = '' OR @approver_staff_code IS NULL
BEGIN
	INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'27','2','26,33,35','数据确认',0.00,'0',0,'00','','8915px','1303px','SystemFW.field_SystemFW_1','','04.DataCM','确认','重新填写')
END
ELSE
BEGIN
	INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'27','2','26,33,35','数据确认',0.00,'0',0,'',@approver_staff_code,'8915px','1303px','SystemFW.field_SystemFW_1','','04.DataCM','','重新填写')
END


INSERT INTO [teflow_wkf_detail_rule] ([flow_id],[begin_node_id],[end_node_id],[section_id],[field_id],[compare_type],[compare_value],[logic_type],[compare_label],[field_label],[is_function],[sub_sql],[condition_type])VALUES(@idflow,'26','34','SystemFW','field_SystemFW_1','like','W010','01','W010','系统流程控制.ErrorCode','1','select teflow_30320_SystemFW.request_no from  teflow_30320_SystemFW where 1=1  and ( teflow_30320_SystemFW.field_SystemFW_1=  ''W010''   )','2')
INSERT INTO [teflow_wkf_detail_rule] ([flow_id],[begin_node_id],[end_node_id],[section_id],[field_id],[compare_type],[compare_value],[logic_type],[compare_label],[field_label],[is_function],[sub_sql],[condition_type])VALUES(@idflow,'26','31','SystemFW','field_SystemFW_1','like','E','01','E','系统流程控制.ErrorCode','1','select teflow_30320_SystemFW.request_no from  teflow_30320_SystemFW where 1=1  and ( teflow_30320_SystemFW.field_SystemFW_1 like ''%E%''  and  teflow_30320_SystemFW.field_SystemFW_1=  ''E001''  or  teflow_30320_SystemFW.field_SystemFW_1<>  ''W010''   )','2')
INSERT INTO [teflow_wkf_detail_rule] ([flow_id],[begin_node_id],[end_node_id],[section_id],[field_id],[compare_type],[compare_value],[logic_type],[compare_label],[field_label],[is_function],[sub_sql],[condition_type])VALUES(@idflow,'26','31','SystemFW','field_SystemFW_1','=','E001','02','E001','系统流程控制.ErrorCode','1','select teflow_30320_SystemFW.request_no from  teflow_30320_SystemFW where 1=1  and ( teflow_30320_SystemFW.field_SystemFW_1 like ''%E%''  and  teflow_30320_SystemFW.field_SystemFW_1=  ''E001''  or  teflow_30320_SystemFW.field_SystemFW_1<>  ''W010''   )','2')

INSERT INTO [teflow_wkf_handle] ([flow_id],[node_id],[approve_handle],[reject_handle])VALUES(@idflow,'25','NovaUspCompassTrigger','')
INSERT INTO [teflow_wkf_handle] ([flow_id],[node_id],[approve_handle],[reject_handle])VALUES(@idflow,'26','NovaUspCompassTrigger','')
INSERT INTO [teflow_wkf_handle] ([flow_id],[node_id],[approve_handle],[reject_handle])VALUES(@idflow,'27','NovaUspCompassTrigger','')


DELETE FROM TNovaProcess WHERE form_system_id=0 AND current_node_Id =35
insert TNovaProcess values(0,35,'NovaUspClearError','E005',	NULL)

commit


begin tran
declare @flowid int,@nodeid varchar(10);
select @flowid=flow_id from teflow_wkf_define where form_system_id=30320;
select @nodeid=node_id from teflow_wkf_detail where node_name=N'等待照会';
select * from  teflow_wkf_detail where flow_id=@flowid and node_id=@nodeid;
update teflow_wkf_detail set update_section_fields=' 01.company_id,02.field_02_6,02.field_02_16,02.field_02_17,02.field_02_26,02.field_02_13,02.field_02_34,02.field_02_33,02.field_02_8,02.field_02_9,02.field_02_18,02.field_02_31,02.field_02_23,02.field_02_25,02.field_02_19,02.field_02_20,02.field_02_21,02.field_02_22,02.field_02_24,02.OriginalPol,02.field_02_27,02.field_02_30,02.field_02_28,02.field_02_32,02.field_02_35,02.CRITTYPE,02.COMPANYNATURE,02.INDUSTRYCLASS,02.PROVINCE,02.CITY,02.DISTRICT,02.field_02_36,10.field_10_1,10.field_10_6,10.field_10_2,10.field_10_4,10.field_10_3,10.field_10_5,10.field_10_7,5.field_5_1,5.field_5_2,5.field_5_3,5.field_5_7,5.field_5_4,5.field_5_5,5.field_5_6,6.field_6_1,6.AE_id,6.field_6_6,2.field_2_1,2.field_2_5,2.field_2_9,2.field_2_10,2.field_2_3,2.field_2_6,2.field_2_7,2.field_2_8,BranchInf.BranCod_id,BranchInf.SecCity,BranchInf.field_BranchInf_2,BranchInf.field_BranchInf_3,BranchInf.field_BranchInf_4,SystemFW.field_SystemFW_1,Pend.PendingList,Pend.field_Pend_3,Pend.field_Pend_5,4.Product_id,4.field_4_22,4.Plan_id,4.field_4_23,4.field_4_2,4.field_4_3,7.field_7_2,7.field_7_1,7.field_7_3,7.field_7_6,7.field_7_4,7.field_7_5,9.field_9_19,9.field_9_17,9.field_9_2,9.field_9_3,9.field_9_4,9.field_9_16,9.field_9_6,9.IDENTTYPE,9.field_9_7,9.field_9_8,9.field_9_9,9.field_9_18,9.field_9_1,9.field_9_10,9.OCCUPATION,9.field_9_15,9.MemProduct_id,9.MemPlan_id,9.field_9_12,9.field_9_20,9.field_9_13,11.field_11_1,11.field_11_2,11.field_11_8,11.field_11_3,11.field_11_13,11.field_11_6,11.field_11_5,11.field_11_4,11.field_11_7,11.field_11_9,11.field_11_10,11.field_11_11,11.field_11_12,12.field_12_6,12.PRODUCT_CODE,12.field_12_7,12.LIMIT_CODE,12.field_12_1,12.field_12_2,12.field_12_3,12.field_12_4,12.field_12_5'                                                
where flow_id=@flowid and node_id=@nodeid;
select * from  teflow_wkf_detail where flow_id=@flowid and node_id=@nodeid;
commit tran;


/*30320 end*/

/*30328 begin*/
IF EXISTS(SELECT 1 FROM sysobjects WHERE name = N'teflow_30328_Pend' AND xtype='U')
DROP TABLE teflow_30328_Pend;
GO

CREATE TABLE teflow_30328_Pend (
	PendingList   varchar(100) NULL,
	field_Pend_3  varchar(500) NULL,
	field_Pend_5 varchar(1) NULL,
	id numeric(12, 0) IDENTITY(1,1) NOT NULL,
	request_no varchar (30) NULL
) ON [PRIMARY];



Declare
 @formId varchar(10),
 @newmaster_id varchar(10);
set @formId=30328;
set @newmaster_id=10210;
begin
select * from teflow_form_section where section_remark= N'系统流程控制' and form_system_id=@formId and table_name=N'teflow_30328_SystemFW';
update  teflow_form_section  set order_id='94'  where section_remark= N'系统流程控制' and form_system_id=@formId and table_name=N'teflow_30328_SystemFW';
delete from teflow_form_section where form_system_id = @formId and section_id =  'Pend'  
Insert into teflow_form_section ( form_system_id, section_id, section_type, section_remark, table_name, ORDER_ID )  values ( 30328,  'Pend' ,  '01' ,  '照会列表' ,  'teflow_30328_Pend' ,  '93'  ); 
select * from teflow_form_section where form_system_id=@formId;
delete from teflow_form_section_field where form_system_id = @formId and section_id = 'Pend' ;
insert into teflow_field_basedata values (@newmaster_id, @formId, 'Pend', 'field_Pend_5');
end;

-------------------------------------
----PATCH END----select * from teflow_form_section where form_system_id=30320
-------------------------------------


begin tran
Declare @idflow int;
DECLARE @approver_staff_code CHAR(100)
SELECT @idflow = flow_id FROM teflow_wkf_define WHERE form_system_id=30328
SELECT @approver_staff_code=approver_staff_code FROM [teflow_wkf_detail] WHERE flow_id=@idflow AND node_id=27

DELETE FROM [teflow_wkf_detail] WHERE [flow_id]=@idflow
DELETE FROM [teflow_wkf_detail_rule] WHERE [flow_id]=@idflow
DELETE FROM [teflow_wkf_handle] WHERE [flow_id]=@idflow 


IF @approver_staff_code = '' OR @approver_staff_code IS NULL
BEGIN
	INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'27','2','26,33,35','数据确认',0.00,'0',0,'00','','8915px','1303px','SystemFW.field_SystemFW_1','','04.DataCM','确认','重新填写')
END
ELSE
BEGIN
	INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'27','2','26,33,35','数据确认',0.00,'0',0,'',@approver_staff_code,'8915px','1303px','SystemFW.field_SystemFW_1','','04.DataCM','','重新填写')
END





DELETE FROM TNovaProcess WHERE form_system_id=0 AND current_node_Id =35
insert TNovaProcess values(0,35,'NovaUspClearError','E005',	NULL)

commit


begin tran
declare @flowid int,@nodeid varchar(10);
select @flowid=flow_id from teflow_wkf_define where form_system_id=30328;
select @nodeid=node_id from teflow_wkf_detail where node_name=N'等待照会';
select * from  teflow_wkf_detail where flow_id=@flowid and node_id=@nodeid;
update teflow_wkf_detail set update_section_fields='01.company_id,02.field_02_6,02.field_02_16,02.field_02_17,02.field_02_26,02.field_02_13,02.field_02_34,02.field_02_33,02.field_02_8,02.field_02_9,02.field_02_18,02.field_02_31,02.field_02_23,02.field_02_25,02.field_02_19,02.field_02_20,02.field_02_21,02.field_02_22,02.field_02_24,02.OriginalPol,02.field_02_27,02.field_02_30,02.field_02_28,02.field_02_32,10.field_10_1,10.field_10_6,10.field_10_2,10.field_10_4,10.field_10_3,10.field_10_5,10.field_10_7,5.field_5_1,5.field_5_2,5.field_5_3,5.field_5_7,5.field_5_4,5.field_5_5,5.field_5_6,6.field_6_1,6.AE_id,6.field_6_6,BranchInf.BranCod_id,BranchInf.SecCity,BranchInf.field_BranchInf_2,BranchInf.field_BranchInf_3,BranchInf.field_BranchInf_4,2.field_2_1,2.field_2_5,2.field_2_9,2.field_2_10,2.field_2_3,2.field_2_6,2.field_2_7,2.field_2_8,SystemFW.field_SystemFW_1,4.Product_id,4.field_4_1,4.Plan_id,4.field_4_4,4.field_4_2,4.field_4_3,Pend.PendingList,Pend.field_Pend_3,Pend.field_Pend_5,planDetail.field_planDetail_1,planDetail.PRODUCT_CODE,planDetail.field_planDetail_2,planDetail.LIMIT_CODE,planDetail.field_planDetail_3,planDetail.field_planDetail_4,Product.field_Product_1,Product.field_Product_2,Product.field_Product_3,Product.field_Product_4,Product.field_Product_5,Product.field_Product_6,Product.field_Product_7,Product.field_Product_8,Product.field_Product_9,7.field_7_2,7.field_7_1,7.field_7_3,7.field_7_6,7.field_7_4,7.field_7_5,9.field_9_19,9.field_9_17,9.field_9_2,9.field_9_3,9.field_9_4,9.field_9_16,9.field_9_6,9.field_9_7,9.field_9_8,9.field_9_9,9.field_9_18,9.field_9_1,9.field_9_10,9.field_9_15,9.MemProduct_id,9.MemPlan_id,9.field_9_12,9.field_9_13,11.field_11_1,11.field_11_2,11.field_11_8,11.field_11_3,11.field_11_13,11.field_11_6,11.field_11_5,11.field_11_4,11.field_11_7,11.field_11_9,11.field_11_10,11.field_11_11,11.field_11_12'
where flow_id=@flowid and node_id=@nodeid;
select * from  teflow_wkf_detail where flow_id=@flowid and node_id=@nodeid;
commit tran;
/*30328 begin*/


/*30286 begin*/

IF EXISTS(SELECT 1 FROM sysobjects WHERE name = N'teflow_30286_Pend' AND xtype='U')
DROP TABLE teflow_30286_Pend;
GO

CREATE TABLE teflow_30286_Pend (
	PendingList   varchar(100) NULL,
	field_Pend_3  varchar(500) NULL,
	field_Pend_5 varchar(1) NULL,
	id numeric(12, 0) IDENTITY(1,1) NOT NULL,
	request_no varchar (30) NULL
) ON [PRIMARY];



Declare
 @formId varchar(10),
 @newmaster_id varchar(10);
set @formId=30286;
set @newmaster_id=10210;
--update  teflow_form_section  set order_id=93  where section_remark= N'账单信息' and form_system_id=30286 and table_name=N'teflow_30286_10';
begin
--select * from teflow_form_section where  form_system_id=30286 and table_name=N'teflow_30286_SystemFW' and section_remark= N'系统流程控制' ;
select * from teflow_form_section where section_remark= N'系统流程控制' and form_system_id=@formId and table_name=N'teflow_30286_SystemFW';
update  teflow_form_section  set order_id='94'  where section_remark= N'系统流程控制' and form_system_id=@formId and table_name=N'teflow_30286_SystemFW';
delete from teflow_form_section where form_system_id = @formId and section_id =  'Pend' 
Insert into teflow_form_section ( form_system_id, section_id, section_type, section_remark, table_name, ORDER_ID )  values ( 30286,  'Pend' ,  '01' ,  '照会列表' ,  'teflow_30286_Pend' ,  '93'  ); 
select * from teflow_form_section where form_system_id=@formId;
delete from teflow_form_section_field where form_system_id = @formId and section_id = 'Pend' ;
insert into teflow_field_basedata values (@newmaster_id, @formId, 'Pend', 'field_Pend_5');
end;

-------------------------------------
----PATCH END----select * from teflow_form_section where form_system_id=30286
-------------------------------------


begin tran
Declare @idflow int;
DECLARE @approver_staff_code CHAR(100)

SELECT @idflow = flow_id FROM teflow_wkf_define WHERE form_system_id=30286

SELECT @approver_staff_code=approver_staff_code FROM [teflow_wkf_detail] WHERE flow_id=@idflow AND node_id=27

DELETE FROM [teflow_wkf_detail] WHERE [flow_id]=@idflow
DELETE FROM [teflow_wkf_detail_rule] WHERE [flow_id]=@idflow
DELETE FROM [teflow_wkf_handle] WHERE [flow_id]=@idflow 


IF @approver_staff_code = '' OR @approver_staff_code IS NULL
BEGIN
	INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'27','2','26,33,35','数据确认',0.00,'0',0,'00','','8915px','1303px','SystemFW.field_SystemFW_1','','04.DataCM','确认','重新填写')
END
ELSE
BEGIN
	INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'27','2','26,33,35','数据确认',0.00,'0',0,'',@approver_staff_code,'8915px','1303px','SystemFW.field_SystemFW_1','','04.DataCM','','重新填写')
END





DELETE FROM TNovaProcess WHERE form_system_id=0 AND current_node_Id =35
insert TNovaProcess values(0,35,'NovaUspClearError','E005',	NULL)

commit

begin tran
declare @flowid int,@nodeid varchar(10);
select @flowid=flow_id from teflow_wkf_define where form_system_id=30286;
select @nodeid=node_id from teflow_wkf_detail where node_name=N'等待照会';
select * from  teflow_wkf_detail where flow_id=@flowid and node_id=@nodeid;
update teflow_wkf_detail set update_section_fields='01.company_id,02.field_02_6,02.field_02_16,02.field_02_17,02.field_02_26,02.field_02_13,02.field_02_34,02.field_02_33,02.field_02_8,02.field_02_9,02.field_02_18,02.field_02_31,02.field_02_23,02.field_02_25,02.field_02_19,02.field_02_20,02.field_02_21,02.field_02_22,02.field_02_24,02.OriginalPol,02.field_02_27,02.field_02_30,02.field_02_28,02.field_02_32,10.field_10_1,10.field_10_6,10.field_10_2,10.field_10_4,10.field_10_3,10.field_10_5,10.field_10_7,5.field_5_1,5.field_5_2,5.field_5_3,5.field_5_7,5.field_5_4,5.field_5_5,5.field_5_6,6.field_6_1,6.AE_id,6.field_6_6,2.field_2_1,2.field_2_5,2.field_2_9,2.field_2_10,2.field_2_3,2.field_2_6,2.field_2_7,2.field_2_8,BranchInf.BranCod_id,BranchInf.SecCity,BranchInf.field_BranchInf_2,BranchInf.field_BranchInf_3,BranchInf.field_BranchInf_4,SystemFW.field_SystemFW_1,Pend.PendingList,Pend.field_Pend_3,Pend.field_Pend_5,4.Product_id,4.Plan_id,4.field_4_6,4.field_4_7,4.field_4_2,4.field_4_3,7.field_7_2,7.field_7_1,7.field_7_3,7.field_7_6,7.field_7_4,7.field_7_5,9.field_9_19,9.field_9_17,9.field_9_2,9.field_9_3,9.field_9_4,9.field_9_16,9.field_9_6,9.field_9_7,9.field_9_8,9.field_9_9,9.field_9_18,9.field_9_1,9.field_9_10,9.field_9_15,9.MemProduct_id,9.MemPlan_id,9.field_9_12,9.field_9_13,11.field_11_1,11.field_11_2,11.field_11_8,11.field_11_3,11.field_11_13,11.field_11_6,11.field_11_5,11.field_11_4,11.field_11_7,11.field_11_9,11.field_11_10,11.field_11_11,11.field_11_12'
where flow_id=@flowid and node_id=@nodeid;
select * from  teflow_wkf_detail where flow_id=@flowid and node_id=@nodeid;
commit tran;
/*30286 end*/





/*30288 begin*/
IF EXISTS(SELECT 1 FROM sysobjects WHERE name = N'teflow_30288_Pend' AND xtype='U')
DROP TABLE teflow_30288_Pend;
GO

CREATE TABLE teflow_30288_Pend (
	PendingList   varchar(100) NULL,
	field_Pend_3  varchar(500) NULL,
	field_Pend_5 varchar(1) NULL,
	id numeric(12, 0) IDENTITY(1,1) NOT NULL,
	request_no varchar (30) NULL
) ON [PRIMARY];



Declare
 @formId varchar(10),
 @newmaster_id varchar(10);
set @formId=30288;
set @newmaster_id=10210;

begin
select * from teflow_form_section where section_remark= N'系统流程控制' and form_system_id=@formId and table_name=N'teflow_30288_SystemFW';
update  teflow_form_section  set order_id='94'  where section_remark= N'系统流程控制' and form_system_id=@formId and table_name=N'teflow_30288_SystemFW';
delete from teflow_form_section where form_system_id = @formId and section_id =  'Pend'  
select * from teflow_form_section where form_system_id=@formId;
delete from teflow_form_section_field where form_system_id = @formId and section_id = 'Pend' ;
end;

-------------------------------------
----PATCH END----select * from teflow_form_section where form_system_id=30288
-------------------------------------


begin tran
Declare @idflow int;
DECLARE @approver_staff_code CHAR(100)
SELECT @idflow = flow_id FROM teflow_wkf_define WHERE form_system_id=30288
SELECT @approver_staff_code=approver_staff_code FROM [teflow_wkf_detail] WHERE flow_id=@idflow AND node_id=27
DELETE FROM [teflow_wkf_detail] WHERE [flow_id]=@idflow
DELETE FROM [teflow_wkf_detail_rule] WHERE [flow_id]=@idflow
DELETE FROM [teflow_wkf_handle] WHERE [flow_id]=@idflow 


IF @approver_staff_code = '' OR @approver_staff_code IS NULL
BEGIN
	INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'27','2','26,33,35','数据确认',0.00,'0',0,'00','','8915px','1303px','SystemFW.field_SystemFW_1','','04.DataCM','确认','重新填写')
END
ELSE
BEGIN
	INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'27','2','26,33,35','数据确认',0.00,'0',0,'',@approver_staff_code,'8915px','1303px','SystemFW.field_SystemFW_1','','04.DataCM','','重新填写')
END





DELETE FROM TNovaProcess WHERE form_system_id=0 AND current_node_Id =35

commit


begin tran
declare @flowid int,@nodeid varchar(10);
select @flowid=flow_id from teflow_wkf_define where form_system_id=30288;
select @nodeid=node_id from teflow_wkf_detail where node_name=N'等待照会';
select * from  teflow_wkf_detail where flow_id=@flowid and node_id=@nodeid;
update teflow_wkf_detail set update_section_fields='01.company_id,02.field_02_6,02.field_02_16,02.field_02_17,02.field_02_26,02.field_02_13,02.field_02_34,02.field_02_33,02.field_02_8,02.field_02_9,02.field_02_18,02.field_02_31,02.field_02_23,02.field_02_25,02.field_02_19,02.field_02_20,02.field_02_21,02.field_02_22,02.field_02_24,02.OriginalPol,02.field_02_27,02.field_02_30,02.field_02_28,02.field_02_32,02.field_02_35,02.CRITTYPE,02.COMPANYNATURE,02.INDUSTRYCLASS,02.PROVINCE,02.CITY,02.DISTRICT,02.field_02_36,10.field_10_1,10.field_10_6,10.field_10_2,10.field_10_4,10.field_10_3,10.field_10_5,10.field_10_7,5.field_5_1,5.field_5_2,5.field_5_3,5.field_5_7,5.field_5_4,5.field_5_5,5.field_5_6,6.field_6_1,6.AE_id,6.field_6_6,2.field_2_1,2.field_2_5,2.field_2_9,2.field_2_10,2.field_2_3,2.field_2_6,2.field_2_7,2.field_2_8,BranchInf.BranCod_id,BranchInf.SecCity,BranchInf.field_BranchInf_2,BranchInf.field_BranchInf_3,BranchInf.field_BranchInf_4,SystemFW.field_SystemFW_1,Pend.PendingList,Pend.field_Pend_3,Pend.field_Pend_5,4.Product_id,4.Plan_id,4.field_4_6,4.field_4_7,4.field_4_2,4.field_4_3,7.field_7_2,7.field_7_1,7.field_7_3,7.field_7_6,7.field_7_4,7.field_7_5,9.field_9_19,9.field_9_17,9.field_9_2,9.field_9_3,9.field_9_4,9.field_9_16,9.field_9_6,9.CRITTYPE,9.field_9_7,9.field_9_8,9.field_9_9,9.field_9_18,9.field_9_1,9.field_9_10,9.OCCUPATION,9.field_9_15,9.MemProduct_id,9.MemPlan_id,9.field_9_12,9.field_9_13,11.field_11_1,11.field_11_2,11.field_11_8,11.field_11_3,11.field_11_13,11.field_11_6,11.field_11_5,11.field_11_4,11.field_11_7,11.field_11_9,11.field_11_10,11.field_11_11,11.field_11_12'                                                  
where flow_id=@flowid and node_id=@nodeid;
select * from  teflow_wkf_detail where flow_id=@flowid and node_id=@nodeid;
commit tran 
/*end 30288*/



/*begin 20261*/

IF EXISTS(SELECT 1 FROM sysobjects WHERE name = N'teflow_20261_Pend' AND xtype='U')
DROP TABLE teflow_20261_Pend;
GO

CREATE TABLE teflow_20261_Pend (
	PendingList   varchar(100) NULL,
	field_Pend_3  varchar(500) NULL,
	field_Pend_5 varchar(1) NULL,
	id numeric(12, 0) IDENTITY(1,1) NOT NULL,
	request_no varchar (30) NULL
) ON [PRIMARY];



Declare
 @formId varchar(10),
 @newmaster_id varchar(10);
set @formId=20261;
set @newmaster_id=10210;
begin
select * from teflow_form_section where section_remark= N'系统流程控制' and form_system_id=@formId and table_name=N'teflow_20261_SystemFW';
update  teflow_form_section  set order_id='94'  where section_remark= N'系统流程控制' and form_system_id=@formId and table_name=N'teflow_20261_SystemFW';
delete from teflow_form_section where form_system_id = @formId and section_id =  'Pend'  
select * from teflow_form_section where form_system_id=@formId;
delete from teflow_form_section_field where form_system_id = @formId and section_id = 'Pend' ;
end;

-------------------------------------
----PATCH END----select * from teflow_form_section where form_system_id=20261
-------------------------------------


begin tran
Declare @idflow int;
DECLARE @approver_staff_code CHAR(100)
SELECT @idflow = flow_id FROM teflow_wkf_define WHERE form_system_id=20261
SELECT @approver_staff_code=approver_staff_code FROM [teflow_wkf_detail] WHERE flow_id=@idflow AND node_id=27

DELETE FROM [teflow_wkf_detail] WHERE [flow_id]=@idflow
DELETE FROM [teflow_wkf_detail_rule] WHERE [flow_id]=@idflow
DELETE FROM [teflow_wkf_handle] WHERE [flow_id]=@idflow 


IF @approver_staff_code = '' OR @approver_staff_code IS NULL
BEGIN
	INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'27','2','26,33,35','数据确认',0.00,'0',0,'00','','8915px','1303px','SystemFW.field_SystemFW_1','','04.DataCM','确认','重新填写')
END
ELSE
BEGIN
	INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'27','2','26,33,35','数据确认',0.00,'0',0,'',@approver_staff_code,'8915px','1303px','SystemFW.field_SystemFW_1','','04.DataCM','','重新填写')
END





DELETE FROM TNovaProcess WHERE form_system_id=0 AND current_node_Id =35

commit

begin tran
declare @flowid int,@nodeid varchar(10);
select @flowid=flow_id from teflow_wkf_define where form_system_id=20261;
select @nodeid=node_id from teflow_wkf_detail where node_name=N'等待照会';
select * from  teflow_wkf_detail where flow_id=@flowid and node_id=@nodeid;
update teflow_wkf_detail set update_section_fields='01.company_id,02.field_02_6,02.field_02_16,02.field_02_17,02.field_02_26,02.field_02_34,02.field_02_13,02.field_02_33,02.field_02_8,02.field_02_9,02.field_02_18,02.field_02_31,02.field_02_23,02.field_02_25,02.field_02_19,02.field_02_20,02.field_02_21,02.field_02_22,02.field_02_24,02.OriginalPol,02.field_02_27,02.field_02_30,02.field_02_28,02.field_02_32,10.field_10_1,10.field_10_6,10.field_10_2,10.field_10_4,10.field_10_3,10.field_10_5,10.field_10_7,5.field_5_1,5.field_5_2,5.field_5_3,5.field_5_7,5.field_5_4,5.field_5_5,5.field_5_6,6.field_6_1,6.AE_id,6.field_6_6,2.field_2_1,2.field_2_5,2.field_2_9,2.field_2_10,2.field_2_3,2.field_2_6,2.field_2_7,2.field_2_8,BranchInf.BranCod_id,BranchInf.SecCity,BranchInf.field_BranchInf_2,BranchInf.field_BranchInf_3,BranchInf.field_BranchInf_4,SystemFW.field_SystemFW_1,Pend.PendingList,Pend.field_Pend_3,Pend.field_Pend_5,4.Product_id,4.Plan_id,4.field_4_6,4.field_4_7,4.field_4_2,4.field_4_3,7.field_7_2,7.field_7_1,7.field_7_3,7.field_7_6,7.field_7_4,7.field_7_5,9.field_9_19,9.field_9_17,9.field_9_2,9.field_9_3,9.field_9_4,9.field_9_16,9.field_9_6,9.field_9_7,9.field_9_8,9.field_9_9,9.field_9_18,9.field_9_1,9.field_9_10,9.field_9_15,9.MemProduct_id,9.MemPlan_id,9.field_9_12,9.field_9_13,11.field_11_1,11.field_11_2,11.field_11_8,11.field_11_3,11.field_11_13,11.field_11_6,11.field_11_5,11.field_11_4,11.field_11_7,11.field_11_9,11.field_11_10,11.field_11_11,11.field_11_12'
where flow_id=@flowid and node_id=@nodeid;
select * from  teflow_wkf_detail where flow_id=@flowid and node_id=@nodeid;
commit tran;

/*end 20261*/




/*begin 20267*/

IF EXISTS(SELECT 1 FROM sysobjects WHERE name = N'teflow_20267_Pend' AND xtype='U')
DROP TABLE teflow_20267_Pend;
GO

CREATE TABLE teflow_20267_Pend (
	PendingList   varchar(100) NULL,
	field_Pend_3  varchar(500) NULL,
	field_Pend_5 varchar(1) NULL,
	id numeric(12, 0) IDENTITY(1,1) NOT NULL,
	request_no varchar (30) NULL
) ON [PRIMARY];



Declare
 @formId varchar(10),
 @newmaster_id varchar(10);
set @formId=20267;
set @newmaster_id=10210;
begin
select * from teflow_form_section where section_remark= N'系统流程控制' and form_system_id=@formId and table_name=N'teflow_20267_SystemFW';
update  teflow_form_section  set order_id='94'  where section_remark= N'系统流程控制' and form_system_id=@formId and table_name=N'teflow_20267_SystemFW';
delete from teflow_form_section where form_system_id = @formId and section_id =  'Pend' 
update  teflow_form_section  set order_id=93  where section_remark= N'照会列表' and form_system_id=@formId and table_name=N'teflow_20267_Pend';
select * from teflow_form_section where form_system_id=@formId;
delete from teflow_form_section_field where form_system_id = @formId and section_id = 'Pend' ;
end;

-------------------------------------
----PATCH END----select * from teflow_form_section where form_system_id=20267
-------------------------------------


begin tran
Declare @idflow int;
DECLARE @approver_staff_code CHAR(100)
SELECT @idflow = flow_id FROM teflow_wkf_define WHERE form_system_id=20267
SELECT @approver_staff_code=approver_staff_code FROM [teflow_wkf_detail] WHERE flow_id=@idflow AND node_id=27
DELETE FROM [teflow_wkf_detail] WHERE [flow_id]=@idflow
DELETE FROM [teflow_wkf_detail_rule] WHERE [flow_id]=@idflow
DELETE FROM [teflow_wkf_handle] WHERE [flow_id]=@idflow 


IF @approver_staff_code = '' OR @approver_staff_code IS NULL
BEGIN
	INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'27','2','26,33,35','数据确认',0.00,'0',0,'00','','8915px','1303px','SystemFW.field_SystemFW_1','','04.DataCM','确认','重新填写')
END
ELSE
BEGIN
	INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'27','2','26,33,35','数据确认',0.00,'0',0,'',@approver_staff_code,'8915px','1303px','SystemFW.field_SystemFW_1','','04.DataCM','','重新填写')
END





DELETE FROM TNovaProcess WHERE form_system_id=0 AND current_node_Id =35

commit

begin tran
declare @flowid int,@nodeid varchar(10);
select @flowid=flow_id from teflow_wkf_define where form_system_id=20267;
select @nodeid=node_id from teflow_wkf_detail where node_name=N'等待照会';
select * from  teflow_wkf_detail where flow_id=@flowid and node_id=@nodeid;
update teflow_wkf_detail set update_section_fields='01.company_id,02.field_02_6,02.field_02_16,02.field_02_17,02.field_02_26,02.field_02_13,02.field_02_34,02.field_02_33,02.field_02_8,02.field_02_9,02.field_02_18,02.field_02_31,02.field_02_23,02.field_02_25,02.field_02_19,02.field_02_20,02.field_02_21,02.field_02_22,02.field_02_24,02.OriginalPol,02.field_02_27,02.field_02_30,02.field_02_28,02.field_02_32,10.field_10_1,10.field_10_6,10.field_10_2,10.field_10_4,10.field_10_3,10.field_10_5,10.field_10_7,5.field_5_1,5.field_5_2,5.field_5_3,5.field_5_7,5.field_5_4,5.field_5_5,5.field_5_6,6.field_6_1,6.AE_id,6.field_6_6,2.field_2_1,2.field_2_5,2.field_2_9,2.field_2_10,2.field_2_3,2.field_2_6,2.field_2_7,2.field_2_8,BranchInf.BranCod_id,BranchInf.SecCity,BranchInf.field_BranchInf_2,BranchInf.field_BranchInf_3,BranchInf.field_BranchInf_4,SystemFW.field_SystemFW_1,Pend.PendingList,Pend.field_Pend_3,Pend.field_Pend_5,4.field_4_1,4.field_4_2,4.field_4_3,4.field_4_4,4.field_4_5,4.field_4_6,4.field_4_7,4.field_4_8,4.field_4_9,7.field_7_2,7.field_7_1,7.field_7_3,7.field_7_6,7.field_7_4,7.field_7_5,9.field_9_19,9.field_9_17,9.field_9_2,9.field_9_3,9.field_9_4,9.field_9_16,9.field_9_6,9.field_9_7,9.field_9_8,9.field_9_9,9.field_9_18,9.field_9_1,9.field_9_10,9.field_9_15,9.field_9_20,9.field_9_21,9.field_9_12,9.field_9_13,11.field_11_1,11.field_11_2,11.field_11_8,11.field_11_3,11.field_11_13,11.field_11_6,11.field_11_5,11.field_11_4,11.field_11_7,11.field_11_9,11.field_11_10,11.field_11_11,11.field_11_12'
where flow_id=@flowid and node_id=@nodeid;
select * from  teflow_wkf_detail where flow_id=@flowid and node_id=@nodeid;
commit tran;
/*end 20267*/

