--FORM
Declare @idform int;
SET IDENTITY_INSERT [teflow_form] ON
DELETE FROM teflow_form WHERE form_system_id = 30320
INSERT INTO [teflow_form] ([form_system_id],[form_id],[form_name],[form_type],[form_subtype],[form_description],[status],[create_date],[action_type],[action_message],[org_id],[pre_validation_url],[after_save_url],[Form_image])VALUES(30320,'NBForm_BJ_XTA','友邦保险团体保险计划(新同安)投保单','01','','友邦保险团体保险计划(新同安)投保单','0','May  6 2015 10:06:34:603AM','02','','Z07001','','','FlexPackage.png')
SET IDENTITY_INSERT [teflow_form] OFF

Declare @idformsystem int;
DELETE FROM teflow_form_section WHERE form_system_id = 30320
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
INSERT INTO [teflow_form_section] ([form_system_id],[section_id],[section_type],[section_remark],[table_name],[ORDER_ID],[section_url],[export_excel],[teflow_form_proce])VALUES(@idformsystem,'01','03','基本信息','teflow_'+convert(varchar(10), @idformsystem)+'_01','0','','','')
INSERT INTO [teflow_form_section] ([form_system_id],[section_id],[section_type],[section_remark],[table_name],[ORDER_ID],[section_url],[export_excel],[teflow_form_proce])VALUES(@idformsystem,'02','02','投保人信息','teflow_'+convert(varchar(10), @idformsystem)+'_02','1','','','')
INSERT INTO [teflow_form_section] ([form_system_id],[section_id],[section_type],[section_remark],[table_name],[ORDER_ID],[section_url],[export_excel],[teflow_form_proce])VALUES(@idformsystem,'10','02','账单信息','teflow_'+convert(varchar(10), @idformsystem)+'_10','92','','','')
go

Declare @idformsystem int;
DELETE FROM teflow_form_section_field WHERE form_system_id = 30320
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
go

--FLOW
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
Declare @idflow int;
SET IDENTITY_INSERT [teflow_wkf_define] ON
SELECT @idflow = 10055
DELETE FROM teflow_wkf_define WHERE flow_id = 10055
INSERT INTO [teflow_wkf_define] ([flow_id],[flow_name],[description],[form_system_id],[company_id],[after_handle_url])VALUES(10055,'NBFlow_BJ_XTA','北京－友邦保险团体保险计划(组合)投保流程',30320,'Z07001','NBFlow_BJ')
SET IDENTITY_INSERT [teflow_wkf_define] OFF
DELETE FROM teflow_wkf_detail WHERE flow_id = 10055
INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'32','2','29,30','系统支持',0.00,'0',0,'','C0378','8320px','4791px','','','08.ErrorHandle','','')
INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'29','4','28,32','正式账单',0.00,'0',0,'','System001','12978px','1662px','','','06.Officail','','')
INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'30','2','29','账单报告',0.00,'0',0,'','System001','584px','3108px','SystemFW.field_SystemFW_1','','07.Report','','')
DELETE FROM teflow_wkf_detail_rule WHERE flow_id = 10055
INSERT INTO [teflow_wkf_detail_rule] ([flow_id],[begin_node_id],[end_node_id],[section_id],[field_id],[compare_type],[compare_value],[logic_type],[compare_label],[field_label],[is_function],[sub_sql],[condition_type])VALUES(@idflow,'26','34','SystemFW','field_SystemFW_1','like','W010','01','W010','系统流程控制.ErrorCode','1','select teflow_30320_SystemFW.request_no from  teflow_30320_SystemFW where 1=1  and ( teflow_30320_SystemFW.field_SystemFW_1=  ''W010''   )','2')
INSERT INTO [teflow_wkf_detail_rule] ([flow_id],[begin_node_id],[end_node_id],[section_id],[field_id],[compare_type],[compare_value],[logic_type],[compare_label],[field_label],[is_function],[sub_sql],[condition_type])VALUES(@idflow,'26','31','SystemFW','field_SystemFW_1','like','E','01','E','系统流程控制.ErrorCode','1','select teflow_30320_SystemFW.request_no from  teflow_30320_SystemFW where 1=1  and ( teflow_30320_SystemFW.field_SystemFW_1 like ''%E%''  and  teflow_30320_SystemFW.field_SystemFW_1=  ''E001''  or  teflow_30320_SystemFW.field_SystemFW_1<>  ''W010''   )','2')
INSERT INTO [teflow_wkf_detail_rule] ([flow_id],[begin_node_id],[end_node_id],[section_id],[field_id],[compare_type],[compare_value],[logic_type],[compare_label],[field_label],[is_function],[sub_sql],[condition_type])VALUES(@idflow,'26','31','SystemFW','field_SystemFW_1','=','E001','02','E001','系统流程控制.ErrorCode','1','select teflow_30320_SystemFW.request_no from  teflow_30320_SystemFW where 1=1  and ( teflow_30320_SystemFW.field_SystemFW_1 like ''%E%''  and  teflow_30320_SystemFW.field_SystemFW_1=  ''E001''  or  teflow_30320_SystemFW.field_SystemFW_1<>  ''W010''   )','2')
DELETE FROM teflow_wkf_handle WHERE flow_id = 10055
INSERT INTO [teflow_wkf_handle] ([flow_id],[node_id],[approve_handle],[reject_handle])VALUES(@idflow,'25','NovaUspCompassTrigger','')
INSERT INTO [teflow_wkf_handle] ([flow_id],[node_id],[approve_handle],[reject_handle])VALUES(@idflow,'26','NovaUspCompassTrigger','')
INSERT INTO [teflow_wkf_handle] ([flow_id],[node_id],[approve_handle],[reject_handle])VALUES(@idflow,'27','NovaUspCompassTrigger','')
go
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
update teflow_wkf_define set form_system_id = @idformsystem where flow_name ='NBFlow_BJ_XTA' and description = '北京－友邦保险团体保险计划(组合)投保流程'
go

--BASEDATA
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = 'Company Name' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('Company Name', '00');
select  @idDataMaster = @@IDENTITY;
INSERT INTO [teflow_base_data_detail] ([master_id],[option_value],[option_label],[status])VALUES(@idDataMaster,'9','AIASH','')
INSERT INTO [teflow_base_data_detail] ([master_id],[option_value],[option_label],[status])VALUES(@idDataMaster,'11','AIABJ','')
INSERT INTO [teflow_base_data_detail] ([master_id],[option_value],[option_label],[status])VALUES(@idDataMaster,'25','AIAGD','')
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = 'Company Name' and type_code = '00'
insert into teflow_field_basedata ([master_id],[form_system_id],[section_id],[field_id])VALUES(@idDataMaster,@idformsystem,'02','field_02_27')
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = 'Complete' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('Complete', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = 'Complete' and type_code = '01'
insert into teflow_field_basedata ([master_id],[form_system_id],[section_id],[field_id])VALUES(@idDataMaster,@idformsystem,'Pend','field_Pend_5')
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = 'Product list' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('Product list', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = 'Product list' and type_code = '01'
insert into teflow_field_basedata ([master_id],[form_system_id],[section_id],[field_id])VALUES(@idDataMaster,@idformsystem,'Product','field_Product_1')
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = 'Renewal Indicator' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('Renewal Indicator', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = 'Renewal Indicator' and type_code = '01'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = 'SIC code' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('SIC code', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = 'SIC code' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = 'SIC code' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('SIC code', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = 'SIC code' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = 'SIC code' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('SIC code', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = 'SIC code' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '风险等级' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('风险等级', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '风险等级' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '付款方式' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('付款方式', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '付款方式' and type_code = '01'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '关系' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('关系', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '关系' and type_code = '01'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '国籍' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('国籍', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '国籍' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '缴费周期' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('缴费周期', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '缴费周期' and type_code = '01'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '其他付费方式' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('其他付费方式', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '其他付费方式' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '省市' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('省市', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '省市' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '省市' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('省市', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '省市' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '是否' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('是否', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '是否' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '是否' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('是否', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '是否' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '是否' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('是否', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '是否' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '是否' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('是否', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '是否' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '团体证件类型' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('团体证件类型', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '团体证件类型' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '未能全员参保原因' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('未能全员参保原因', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '未能全员参保原因' and type_code = '01'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '信息确定, 确认提交' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('信息确定, 确认提交', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '信息确定, 确认提交' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '性别' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('性别', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '性别' and type_code = '01'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '业务渠道' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('业务渠道', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '业务渠道' and type_code = '01'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '溢缴保费处理' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('溢缴保费处理', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '溢缴保费处理' and type_code = '01'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '银行代码' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('银行代码', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '银行代码' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '银行代码' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('银行代码', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '银行代码' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '银行代码' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('银行代码', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '银行代码' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '佣金保费比例' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('佣金保费比例', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '佣金保费比例' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '职业等级' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('职业等级', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '职业等级' and type_code = '01'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_base_data_master where field_name = '职业等级' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('职业等级', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '职业等级' and type_code = '01'
go

--APPROVAL GROUP
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(新同安)投保单' and form_id='NBForm_BJ_XTA'
if not exists (select * from teflow_approver_group where approver_group_id = '00')
begin
insert into teflow_approver_group (approver_group_id, approver_group_name, description, group_type) values ('00', '(Group)Requestor', 'Requestor', '03');
end
go

--SYSTEMFIELD
if not exists (select * from teflow_system_field where field_id = 'CITY')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('CITY','所属城市','05','','','',1,100,'select DICTCODE AS option_value, DICTDESCCN as option_label from @CompassDB..TCIRCSYSDICT where DICTTYPE = ''REGIONALISM'' and REMARK1 = ''2''','CompassDB')
end
go
if not exists (select * from teflow_system_field where field_id = 'COMPANYNATURE')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('COMPANYNATURE','公司性质','05','','','',1,100,'select DICTCODE as option_value, DICTDESCCN as option_label from @CompassDB..TCIRCSYSDICT where DICTTYPE = ''COMPANYNATURE''','CompassDB')
end
go
if not exists (select * from teflow_system_field where field_id = 'CRITTYPE')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('CRITTYPE','注册类型','05','','','',1,100,'select DICTCODE as option_value, DICTDESCCN as option_label from @CompassDB..TCIRCSYSDICT where DICTTYPE = ''REGISTRATIONDOCTYPE''','CompassDB')
end
go
if not exists (select * from teflow_system_field where field_id = 'DISTRICT')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('DISTRICT','所属地区','05','','','',1,100,'select DICTCODE AS option_value, DICTDESCCN as option_label from @CompassDB..TCIRCSYSDICT where DICTTYPE = ''REGIONALISM'' and REMARK1 = ''3''','CompassDB')
end
go
if not exists (select * from teflow_system_field where field_id = 'INDUSTRYCLASS')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('INDUSTRYCLASS','行业类别','05','','','',1,100,'select DICTCODE as option_value, DICTDESCCN as option_label from @CompassDB..TCIRCSYSDICT where DICTTYPE = ''INDUSTRYCLASS''','CompassDB')
end
go
if not exists (select * from teflow_system_field where field_id = 'OriginalPol')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('OriginalPol','关联保单','05','','','',1,10,'select * from @CompassDB..tpolicy where 1<>1','CompassDB')
end
go
if not exists (select * from teflow_system_field where field_id = 'PROVINCE')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('PROVINCE','所属省份','05','','','',1,100,'select DICTCODE AS option_value, DICTDESCCN as option_label from @CompassDB..TCIRCSYSDICT where DICTTYPE = ''REGIONALISM'' and REMARK1 = ''1''','CompassDB')
end
go
if not exists (select * from teflow_system_field where field_id = 'LIMIT_CODE')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('LIMIT_CODE','保险利益','05','','','',1,5,'SELECT LIMITCODE option_value , LIMITDESC option_label FROM TNOVAPRODUCTLIMIT WHERE form_System_id = @formid order by orderby','')
end
go
if not exists (select * from teflow_system_field where field_id = 'PRODUCT_CODE')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('PRODUCT_CODE','保险产品','05','','','',1,5,'SELECT PRODCODE option_value , PRODDESC option_label FROM TNOVAPRODUCTLIMIT WHERE form_System_id = @formid order by orderby','')
end
go
if not exists (select * from teflow_system_field where field_id = 'Plan_id')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('Plan_id','产品计划','05','','','',1,3,'SELECT DISTINCT NOVA_BENPLNCD option_value , NOVA_BENPLNCD_Local option_label FROM TNovaProductMapping WHERE form_System_id = @formid','')
end
go
if not exists (select * from teflow_system_field where field_id = 'Product_id')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('Product_id','保险产品','05','','','',1,5,'
SELECT DISTINCT a.NOVA_PRODCODE option_value , a.NOVA_PRODCODE_Local option_label 
FROM TNovaProductMapping a
WHERE form_System_id = @formid
','')
end
go
if not exists (select * from teflow_system_field where field_id = 'AE_id')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('AE_id','Servicing AE','05','','','',1,8,'SELECT DISTINCT RTRIM(TUser.UserId) option_value , RTRIM(TUser.UserId) +'' - '' + RTRIM(TUser.UserName) option_label FROM @CompassDB..TUSERPROF   TUser, @CompassDB..TUSERSECURITY   TS WHERE TS.UserId = TUser.UserId AND TUser.RcdSts = ''A'' AND TS.RcdSts = ''A''','CompassDB')
end
go
if not exists (select * from teflow_system_field where field_id = 'IDENTTYPE')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('IDENTTYPE','证件类型','05','','','',1,100,'SELECT RTRIM(DICTCODE) AS option_value, RTRIM(DICTDESCCN) as option_label 	FROM @CompassDB..TCIRCSYSDICT WHERE DICTTYPE = ''CRITTYPE''   AND COMPCODE = 11 order by DICTCODE','CompassDB')
end
go
if not exists (select * from teflow_system_field where field_id = 'MemPlan_id')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('MemPlan_id','人员产品计划','05','','','',1,3,'SELECT DISTINCT NOVA_BENPLNCD option_value , NOVA_BENPLNCD_Local option_label FROM TNovaProductMapping WHERE form_System_id = @formid','')
end
go
if not exists (select * from teflow_system_field where field_id = 'MemProduct_id')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('MemProduct_id','人员保险产品','05','','','',1,5,'SELECT DISTINCT a.NOVA_PRODCODE option_value , a.NOVA_PRODCODE_Local option_label   FROM TNovaProductMapping a where form_System_id = @formid','')
end
go
if not exists (select * from teflow_system_field where field_id = 'OCCUPATION')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('OCCUPATION','职业代码','05','','','',1,100,'SELECT RTRIM(DICTCODE) AS option_value, RTRIM(DICTCODE)+''-''+RTRIM(LEFT(DICTDESCCN,10)) as option_label 	FROM @CompassDB..TCIRCSYSDICT WHERE DICTTYPE = ''OCCUPATION'' AND COMPCODE = 11 order by DICTCODE','CompassDB')
end
go
if not exists (select * from teflow_system_field where field_id = 'BranCod_id')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('BranCod_id','Branch Code','05','','','',1,5,'select distinct CONVERT(VARCHAR(4),COMPCODE)+BRANCHCODE option_value,BRANCHCODE + '' - ''+BRANCHSHORT option_label from @CompassDB..TCOMPBRANCH','CompassDB')
end
go
if not exists (select * from teflow_system_field where field_id = 'SecCity')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('SecCity','2end level city','05','','','',1,6,'select DISTINCT CONVERT(VARCHAR(6),COUNTYCODE) option_value,BRANCHCODE +'' - '' + COUNTYCODE +'' - ''+COUNTYDESC option_label from @CompassDB..TCOMPBRNCOUNTY','CompassDB')
end
go
if not exists (select * from teflow_system_field where field_id = 'PendingList')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('PendingList','照会','02','','','',1,100,'SELECT pendcode option_value, pendcode + ''-''+Pendscope+''-''+pendissue option_label FROM TNOVAPENDINGLIST ORDER BY PendSeq','')
end
go

DELETE FROM teflow_form_script WHERE form_system_id = 30320
DELETE FROM TNovaFieldMapping WHERE form_system_id = 30320
INSERT INTO [TNovaFieldMapping] ([form_system_id],[from_table],[from_field],[Mul_Field],[to_table],[to_field],[datetype],[key_field],[order])VALUES(30320,'teflow_30320_02','field_02_16','teflow_30320_9.id','TMEMBER','CLNTCODE','','',11.00)
INSERT INTO [TNovaFieldMapping] ([form_system_id],[from_table],[from_field],[Mul_Field],[to_table],[to_field],[datetype],[key_field],[order])VALUES(30320,'teflow_30320_9','field_9_1','id','TMEMBER','CERTNO','','',11.00)
INSERT INTO [TNovaFieldMapping] ([form_system_id],[from_table],[from_field],[Mul_Field],[to_table],[to_field],[datetype],[key_field],[order])VALUES(30320,'teflow_30320_02','field_02_13','teflow_30320_9.id','TMEMBER','EFFDATE','DATETIME','',11.00)
DELETE FROM TNovaProcess WHERE form_system_id = 30320
INSERT INTO [TNovaProcess] ([form_system_id],[current_node_Id],[process_sp],[error_code],[ORDERBY])VALUES(30320,25,'NovaUspClearError','E005','')
INSERT INTO [TNovaProcess] ([form_system_id],[current_node_Id],[process_sp],[error_code],[ORDERBY])VALUES(30320,26,'NovaUspBJXTAConvert','E006','0')
INSERT INTO [TNovaProcess] ([form_system_id],[current_node_Id],[process_sp],[error_code],[ORDERBY])VALUES(30320,26,'NovaUspConvertXML','E001','1')
DELETE FROM TNovaProductMapping WHERE form_system_id = 30320
INSERT INTO [TNovaProductMapping] ([NOVA_PRODCODE],[NOVA_PRODCODE_Local],[NOVA_BENPLNCD],[NOVA_BENPLNCD_Local],[PRODCODE],[PRODCODE_Local],[BENPLNCD],[BENPLNCD_Local],[SHIP],[form_System_id])VALUES('BJXTA','新同安计划','001','计划1','BJXTA','新同安计划','001','计划1','N',30320)
INSERT INTO [TNovaProductMapping] ([NOVA_PRODCODE],[NOVA_PRODCODE_Local],[NOVA_BENPLNCD],[NOVA_BENPLNCD_Local],[PRODCODE],[PRODCODE_Local],[BENPLNCD],[BENPLNCD_Local],[SHIP],[form_System_id])VALUES('BJXTA','新同安计划','002','计划2','BJXTA','新同安计划','002','计划2','N',30320)
INSERT INTO [TNovaProductMapping] ([NOVA_PRODCODE],[NOVA_PRODCODE_Local],[NOVA_BENPLNCD],[NOVA_BENPLNCD_Local],[PRODCODE],[PRODCODE_Local],[BENPLNCD],[BENPLNCD_Local],[SHIP],[form_System_id])VALUES('BJXTA','新同安计划','003','计划3','BJXTA','新同安计划','003','计划3','N',30320)
DELETE FROM tnovaproductlimit WHERE form_system_id = 30320
INSERT INTO [tnovaproductlimit] ([PRODCODE],[PRODNAME],[PRODDESC],[LIMITCODE],[LIMITDESC],[ORDERBY],[FORM_SYSTEM_ID])VALUES('201C1','GTL','友邦团体定期寿险 - GTL','SA','保额',1,30320)
INSERT INTO [tnovaproductlimit] ([PRODCODE],[PRODNAME],[PRODDESC],[LIMITCODE],[LIMITDESC],[ORDERBY],[FORM_SYSTEM_ID])VALUES('201C1','GTL','友邦团体定期寿险 - GTL','RATE','费率',2,30320)
INSERT INTO [tnovaproductlimit] ([PRODCODE],[PRODNAME],[PRODDESC],[LIMITCODE],[LIMITDESC],[ORDERBY],[FORM_SYSTEM_ID])VALUES('211D1','ADD2014','友邦团体意外伤害保险2014 - ADD2014','SA','保额',3,30320)
