
DELETE FROM teflow_form_section_field WHERE form_system_id = 30288 AND [section_id]='02'



DELETE FROM teflow_form_section_field WHERE form_system_id = 30320 AND [section_id]='02'

DELETE FROM TEFLOW_FORM_SECTION_FIELD WHERE FORM_SYSTEM_ID='30288' AND SECTION_ID='9'
INSERT TEFLOW_FORM_SECTION_FIELD(form_system_id,section_id,field_id,field_label,field_type,is_required,data_type,field_length,source_type,source_sql,order_id,decimal_digits,high_level,is_money,is_singlerow,controls_width,controls_height,field_comments,comment_content,is_readonly,event_click,event_dbclick,event_onfocus,event_onblur,event_onchange,default_value,column_width,report_system_id,report_type,is_disabled,report_no)  VALUES(N'30288',N'9',N'field_9_19',N'状态',N'1',N'-1',N'1',N'20',N'0',N'',N'0',N'0',N'-1',N'-1',N'-1',N'51',N'0',N'',N'',N'1',N'',N'',N'',N'',N'',N'',N'2',NULL,N'',NULL,N'0')

update TEFLOW_FORM_SECTION_FIELD set is_required = -1 WHERE FORM_SYSTEM_ID in ('30320','30288') AND FIELD_ID='field_11_5'

update TEFLOW_FORM_SECTION_FIELD set is_required = -1 WHERE FORM_SYSTEM_ID in ('30320','30288') AND FIELD_ID='field_9_10'

update TEFLOW_SYSTEM_FIELD SET FIELD_LABEL = '注册类型',
DATA_SQL = "select DICTCODE as option_value, DICTDESCCN as option_label from @CompassDB..TCIRCSYSDICT where DICTTYPE = 'REGISTRATIONDOCTYPE'" WHERE field_id='CRITTYPE'
