-------------------------------------------------------------------------------------------------------------------
--FORM 30286 RELATED FORM & FLOW SCRIPT START--
-------------------------------------------------------------------------------------------------------------------
--FORM
Declare @idform int;
SET IDENTITY_INSERT [teflow_form] ON;
DELETE FROM [teflow_form]               WHERE [form_system_id] = 30286
DELETE FROM [teflow_form_section]       WHERE [form_system_id] = 30286
DELETE FROM [teflow_form_section_field] WHERE [form_system_id] = 30286

INSERT INTO [teflow_form] ([form_system_id],[form_id],[form_name],[form_type],[form_subtype],[form_description],[status],[create_date],[action_type],[action_message],[org_id],[pre_validation_url],[after_save_url],[Form_image])VALUES(30286,'NBForm_SH','友邦保险团体保险计划(组合)投保单','01',NULL,'上海友邦保险团体保险计划(组合)投保单','0','Apr  3 2015  4:33:57:887PM','02','','Z07002','','','NewForm.png')
select  @idform = @@IDENTITY;
update [teflow_form] set [status] = 0 WHERE [form_system_id] = 30286
SET IDENTITY_INSERT [teflow_form] OFF;

Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
INSERT INTO [teflow_form_section] ([form_system_id],[section_id],[section_type],[section_remark],[table_name],[ORDER_ID])VALUES(@idformsystem,'01','03','基本信息','teflow_'+convert(varchar(10), @idformsystem)+'_01','0')
INSERT INTO [teflow_form_section] ([form_system_id],[section_id],[section_type],[section_remark],[table_name],[ORDER_ID])VALUES(@idformsystem,'02','02','投保人信息','teflow_'+convert(varchar(10), @idformsystem)+'_02','1')
INSERT INTO [teflow_form_section] ([form_system_id],[section_id],[section_type],[section_remark],[table_name],[ORDER_ID])VALUES(@idformsystem,'10','02','账单信息','teflow_'+convert(varchar(10), @idformsystem)+'_10','92')
go

Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
INSERT INTO [teflow_form_section_field] ([form_system_id],[section_id],[field_id],[field_label],[field_type],[is_required],[data_type],[field_length],[source_type],[source_sql],[order_id],[decimal_digits],[high_level],[is_money],[is_singlerow],[controls_width],[controls_height],[field_comments],[comment_content],[is_readonly],[event_click],[event_dbclick],[event_onfocus],[event_onblur],[event_onchange],[default_value],[column_width])VALUES(@idformsystem,'01','company_id','Company',10,0,1,10,0,NULL,-4,0,-1,0,-1,0,0,NULL,NULL,-1,'','','','','',NULL,NULL)
INSERT INTO [teflow_form_section_field] ([form_system_id],[section_id],[field_id],[field_label],[field_type],[is_required],[data_type],[field_length],[source_type],[source_sql],[order_id],[decimal_digits],[high_level],[is_money],[is_singlerow],[controls_width],[controls_height],[field_comments],[comment_content],[is_readonly],[event_click],[event_dbclick],[event_onfocus],[event_onblur],[event_onchange],[default_value],[column_width])VALUES(@idformsystem,'01','request_date','Request Date',10,0,2,20,0,NULL,-1,0,-1,0,-1,0,0,NULL,NULL,-1,'','','','','',NULL,NULL)
INSERT INTO [teflow_form_section_field] ([form_system_id],[section_id],[field_id],[field_label],[field_type],[is_required],[data_type],[field_length],[source_type],[source_sql],[order_id],[decimal_digits],[high_level],[is_money],[is_singlerow],[controls_width],[controls_height],[field_comments],[comment_content],[is_readonly],[event_click],[event_dbclick],[event_onfocus],[event_onblur],[event_onchange],[default_value],[column_width])VALUES(@idformsystem,'01','request_no','Request No',10,0,1,30,0,NULL,-6,0,-1,0,-1,0,0,NULL,NULL,-1,'','','','','',NULL,NULL)
go

--FLOW
Declare @idformsystem int;
SET IDENTITY_INSERT [teflow_wkf_define] ON;
DELETE FROM [teflow_wkf_define] WHERE [form_system_id] = 30286
DELETE FROM [teflow_wkf_define] WHERE [flow_id] = 10031
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
Declare @idflow int;
INSERT INTO [teflow_wkf_define] ([flow_id],[flow_name],[description],[form_system_id],[company_id],[after_handle_url])VALUES(10031,'NBFlow_SH','上海－友邦保险团体保险计划(组合)投保流程',30286,'Z07002','NBFlow')
select @idflow = @@IDENTITY;
SET IDENTITY_INSERT [teflow_wkf_define] OFF;
DELETE FROM [teflow_wkf_handle]      where flow_id= (select flow_id from teflow_wkf_define where form_system_id=30286)
DELETE FROM [teflow_wkf_detail]      where flow_id= (select flow_id from teflow_wkf_define where form_system_id=30286)
DELETE FROM [teflow_wkf_detail_rule] where flow_id= (select flow_id from teflow_wkf_define where form_system_id=30286)

DELETE FROM [teflow_wkf_handle]      where flow_id= 10031
DELETE FROM [teflow_wkf_detail]      where flow_id= 10031
DELETE FROM [teflow_wkf_detail_rule] where flow_id= 10031

INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'24','4','23','生成合同',0.00,'0',0,'00','','3816px','3119px','','','10.Contact',NULL,NULL)
INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'0','','','Begin',0.00,'0',0,'','','615px','1456px','','','',NULL,NULL)
INSERT INTO [teflow_wkf_detail] ([flow_id],[node_id],[node_type],[pre_node_id],[node_name],[limited_hours],[has_rule],[rule_id],[approver_group_id],[approver_staff_code],[position_x],[position_y],[update_section_fields],[fill_section_fields],[node_alias],[approve_alias],[reject_alias])VALUES(@idflow,'-1','','24','End',0.00,'0',0,'','','5519px','3129px','','','',NULL,NULL)
INSERT INTO [teflow_wkf_detail_rule] ([flow_id],[begin_node_id],[end_node_id],[section_id],[field_id],[compare_type],[compare_value],[logic_type],[compare_label],[field_label],[is_function],[sub_sql],[condition_type])VALUES(@idflow,'25','33','Pend','field_Pend_3','<>','''''','01','''''','照会列表.照会内容','1','select teflow_30286_Pend.request_no from  teflow_30286_Pend where 1=1  and ( teflow_30286_Pend.field_Pend_3<>  ''''''''   )','2')
INSERT INTO [teflow_wkf_detail_rule] ([flow_id],[begin_node_id],[end_node_id],[section_id],[field_id],[compare_type],[compare_value],[logic_type],[compare_label],[field_label],[is_function],[sub_sql],[condition_type])VALUES(@idflow,'10','2','SystemFW','field_SystemFW_1','=','E001','01','E001','系统流程控制.ErrorCode','1','select teflow_232_SystemFW.request_no from  teflow_232_SystemFW where 1=1  and ( teflow_232_SystemFW.field_SystemFW_1=  ''E001''   )','1')
INSERT INTO [teflow_wkf_detail_rule] ([flow_id],[begin_node_id],[end_node_id],[section_id],[field_id],[compare_type],[compare_value],[logic_type],[compare_label],[field_label],[is_function],[sub_sql],[condition_type])VALUES(@idflow,'10','4','SystemFW','field_SystemFW_1','=','E002','01','E002','系统流程控制.ErrorCode','1','select teflow_232_SystemFW.request_no from  teflow_232_SystemFW where 1=1  and ( teflow_232_SystemFW.field_SystemFW_1=  ''E002''   )','1')
INSERT INTO [teflow_wkf_handle] ([flow_id],[node_id],[approve_handle],[reject_handle])VALUES(@idflow,'25','NovaUspCompassTrigger','')
INSERT INTO [teflow_wkf_handle] ([flow_id],[node_id],[approve_handle],[reject_handle])VALUES(@idflow,'26','NovaUspCompassTrigger','')
INSERT INTO [teflow_wkf_handle] ([flow_id],[node_id],[approve_handle],[reject_handle])VALUES(@idflow,'27','NovaUspCompassTrigger','')
go
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
update teflow_wkf_define set form_system_id = @idformsystem where flow_name ='NBFlow_SH' and description = '上海－友邦保险团体保险计划(组合)投保流程'
go

--BASEDATA
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = 'Company Name' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('Company Name', '00');
select  @idDataMaster = @@IDENTITY;
INSERT INTO [teflow_base_data_detail] ([master_id],[option_value],[option_label],[status])VALUES(@idDataMaster,'9','AIASH',NULL)
INSERT INTO [teflow_base_data_detail] ([master_id],[option_value],[option_label],[status])VALUES(@idDataMaster,'11','AIABJ',NULL)
INSERT INTO [teflow_base_data_detail] ([master_id],[option_value],[option_label],[status])VALUES(@idDataMaster,'25','AIAGD',NULL)
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = 'Company Name' and type_code = '00'
insert into teflow_field_basedata ([master_id],[form_system_id],[section_id],[field_id])VALUES(@idDataMaster,@idformsystem,'02','field_02_27')
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = 'Renewal Indicator' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('Renewal Indicator', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = 'Renewal Indicator' and type_code = '01'
insert into teflow_field_basedata ([master_id],[form_system_id],[section_id],[field_id])VALUES(@idDataMaster,@idformsystem,'02','field_02_33')
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = 'SIC code' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('SIC code', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = 'SIC code' and type_code = '00'
insert into teflow_field_basedata ([master_id],[form_system_id],[section_id],[field_id])VALUES(@idDataMaster,@idformsystem,'02','field_02_8')
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '保险产品' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('保险产品', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '保险产品' and type_code = '01'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '产品计划' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('产品计划', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '产品计划' and type_code = '01'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '风险等级' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('风险等级', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '风险等级' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '付款方式' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('付款方式', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '付款方式' and type_code = '01'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '关系' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('关系', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '关系' and type_code = '01'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '国籍' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('国籍', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '国籍' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '缴费周期' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('缴费周期', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '缴费周期' and type_code = '01'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '其他付费方式' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('其他付费方式', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '其他付费方式' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '省市' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('省市', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '省市' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '省市' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('省市', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '省市' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '是否' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('是否', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '是否' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '是否' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('是否', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '是否' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '团体证件类型' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('团体证件类型', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '团体证件类型' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '未能全员参保原因' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('未能全员参保原因', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '未能全员参保原因' and type_code = '01'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '信息确定, 确认提交' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('信息确定, 确认提交', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '信息确定, 确认提交' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '性别' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('性别', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '性别' and type_code = '01'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '业务渠道' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('业务渠道', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '业务渠道' and type_code = '01'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '溢缴保费处理' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('溢缴保费处理', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '溢缴保费处理' and type_code = '01'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '银行代码' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('银行代码', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '银行代码' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '银行代码' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('银行代码', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '银行代码' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '银行代码' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('银行代码', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '银行代码' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '佣金保费比例' and type_code = '00')
begin
insert into teflow_base_data_master (field_name, type_code) values ('佣金保费比例', '00');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '佣金保费比例' and type_code = '00'
go
Declare @idDataMaster int;
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_base_data_master where field_name = '职业等级' and type_code = '01')
begin
insert into teflow_base_data_master (field_name, type_code) values ('职业等级', '01');
select  @idDataMaster = @@IDENTITY;
end
else
select  @idDataMaster = master_id from teflow_base_data_master  where field_name = '职业等级' and type_code = '01'
go

--APPROVAL GROUP
Declare @idformsystem int;
select @idformsystem=form_system_id from teflow_form where form_name='友邦保险团体保险计划(组合)投保单' and form_id='NBForm_SH'
if not exists (select * from teflow_approver_group where approver_group_id = '00')
begin
insert into teflow_approver_group (approver_group_id, approver_group_name, description, group_type) values ('00', '(Group)Requestor', 'Requestor', '03');
end
go

--SYSTEMFIELD
if not exists (select * from teflow_system_field where field_id = 'OriginalPol')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('OriginalPol','关联保单','02',NULL,NULL,NULL,1,10,'select * from COMPNWCN..tpolicy where 1<>1',NULL)
end
go
if not exists (select * from teflow_system_field where field_id = 'Plan_id')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('Plan_id','产品计划','05',NULL,NULL,NULL,1,3,'SELECT DISTINCT NOVA_BENPLNCD option_value , NOVA_BENPLNCD_Local option_label FROM TNovaProductMapping WHERE form_System_id = @formid',NULL)
end
go
if not exists (select * from teflow_system_field where field_id = 'Product_id')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('Product_id','保险产品','05',NULL,NULL,NULL,1,5,'
SELECT DISTINCT a.NOVA_PRODCODE option_value , a.NOVA_PRODCODE_Local option_label 
FROM TNovaProductMapping a, teflow_form b , teflow_company c
WHERE PRODCODE IN (''CEB16'',''CEB17'',''CPA12'',''CEB24'', ''TOP02'')
and a.form_System_id = b.form_System_id
and b.org_id = c.org_id
and c.org_id = @orgId
',NULL)
end
go
if not exists (select * from teflow_system_field where field_id = 'AE_id')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('AE_id','Servicing AE','02',NULL,NULL,NULL,1,8,'SELECT DISTINCT RTRIM(TUser.UserId) option_value , RTRIM(TUser.UserId) +'' - '' + RTRIM(TUser.UserName) option_label FROM COMPNWCN..TUSERPROF   TUser, COMPNWCN..TUSERSECURITY   TS WHERE TS.UserId = TUser.UserId AND TUser.RcdSts = ''A'' AND TS.RcdSts = ''A''',NULL)
end
go
if not exists (select * from teflow_system_field where field_id = 'MemPlan_id')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('MemPlan_id','人员产品计划','05',NULL,NULL,NULL,1,3,'SELECT DISTINCT NOVA_BENPLNCD option_value , NOVA_BENPLNCD_Local option_label FROM TNovaProductMapping WHERE form_System_id = @formid',NULL)
end
go
if not exists (select * from teflow_system_field where field_id = 'MemProduct_id')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('MemProduct_id','人员保险产品','05',NULL,NULL,NULL,1,5,'SELECT DISTINCT a.NOVA_PRODCODE option_value , a.NOVA_PRODCODE_Local option_label   FROM TNovaProductMapping a where form_System_id = @formid',NULL)
end
go
if not exists (select * from teflow_system_field where field_id = 'BranCod_id')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('BranCod_id','Branch Code','02',NULL,NULL,NULL,1,5,'select distinct CONVERT(VARCHAR(4),COMPCODE)+BRANCHCODE option_value,BRANCHCODE + '' - ''+BRANCHSHORT option_label from COMPNWCN..TCOMPBRANCH',NULL)
end
go
if not exists (select * from teflow_system_field where field_id = 'SecCity')
begin
INSERT INTO [teflow_system_field] ([field_id],[field_label],[field_type],[src_table_name],[src_id_column],[src_label_column],[column_type],[column_length],[data_sql],[param_list])VALUES('SecCity','2end level city','02',NULL,NULL,NULL,1,6,'select DISTINCT CONVERT(VARCHAR(6),COUNTYCODE) option_value,BRANCHCODE +'' - '' + COUNTYCODE +'' - ''+COUNTYDESC option_label from COMPNWCN..TCOMPBRNCOUNTY',NULL)
end
go

DELETE FROM [TNovaFieldMapping]               WHERE [form_system_id] = 30286

INSERT INTO [TNovaFieldMapping] ([form_system_id],[from_table],[from_field],[Mul_Field],[to_table],[to_field],[datetype],[key_field],[order])VALUES(30286,'teflow_30286_02','DATEADD(DAY,-1,Dateadd(year,1,field_02_13))',NULL,'TPOLYEAR','POLDTTO','DATETIME',NULL,3.10)
INSERT INTO [TNovaFieldMapping] ([form_system_id],[from_table],[from_field],[Mul_Field],[to_table],[to_field],[datetype],[key_field],[order])VALUES(30286,'teflow_30286_02','field_02_13',NULL,'TPOLYEAR','ANNVDATE','DATETIME',NULL,3.10)
INSERT INTO [TNovaFieldMapping] ([form_system_id],[from_table],[from_field],[Mul_Field],[to_table],[to_field],[datetype],[key_field],[order])VALUES(30286,'teflow_30286_01','Request_date',NULL,'TPOLYEAR','RCDDTSTMP','DATETIME',NULL,3.10)
-------------------------------------------------------------------------------------------------------------------
--THIS BRAVO NOVA IS BROUGHT TO YOU BY GALAXY GLORIOUS ITPM: Zhu, Issac-J <Issac-J.Zhu@aia.com>  --
--FORM 30286 RELATED FORM & FLOW SCRIPT END--
-------------------------------------------------------------------------------------------------------------------