if exists (select 1 from dbo.sysobjects where id = object_id(N'[dbo].[search_details_member]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
     drop procedure [dbo].[search_details_member]
GO

CREATE PROCEDURE [dbo].[search_details_member]
(
	@sectionId	varchar(20),
	@policyNo	varchar(50),
	@certNo		varchar(50),
	@clientCode	varchar(50),
	@deptCode	varchar(50)
)
AS
BEGIN
SET NOCOUNT ON
	if(@sectionId = 'mpoli_base')
	begin
		SELECT TOP 1
			POLNO = t1.POLNO,
			CLNTCODE = t1.CLNTCODE,
			CLNTNAME = t3.CLNTNAME,
			Mode = (CASE WHEN t5.ADJBILLMODE  = 'A' THEN N'年缴'
						 WHEN t5.ADJBILLMODE  = 'M' THEN N'月缴'
						 WHEN t5.ADJBILLMODE  = 'Q' THEN N'季缴'
						 WHEN t5.ADJBILLMODE  = 'S' THEN N'半年缴'
					ELSE '' END),
			COMPCODE = t1.COMPCODE,
			COMPNAME = t2.COMPNAME,
			PolStatus = (CASE WHEN t1.[STATUS] = 'S' THEN N'暂停' 
							 WHEN t1.[STATUS] = 'T' THEN N'终止' 
							 ELSE N'生效' END),
			BatchbillingDay = ISNULL(t5.batchbillday, '00'),
			BatchAdjBillDay = ISNULL(t5.ADJBILLDAY,'00'),
			TeamCode = t5.teamcd,
			UWTeamCode = t5.uwteamcd,
			BranchCode = t5.BranchCode,
			BillerOfficer = t5.BATCHBILLERID,
			SecLevelCity = t8.COUNTYCODE + '  ' + T8.COUNTYDESC,
			SalesRep = t6.PRDUCODE + '  ' + t6.PRDUNAME,    
			SalesRep2 = t7.PRDUCODE + '  ' + t6.PRDUNAME,   
			PolicyNotes = ISNULL(T9.NOTE, ''),
			eworksheet = ''
        from TPOLICY t1
        INNER JOIN TCOMPANY t2 on t1.COMPCODE = T2.COMPCODE 
        INNER JOIN TCLIENT t3 on t1.CLNTCODE = t3.CLNTCODE
        INNER JOIN TPOLYEAR t4 on t1.POLNO = t4.POLNO
            AND	t4.POLDTFR 	<=	GETDATE()
            AND t4.POLDTTO	>=	GETDATE()
        LEFT JOIN TPOLADDH t5 ON T1.POLNO = T5.POLNO 
		LEFT JOIN TPRODUCER T6 ON T1.PRDUCODESR = T6.PRDUCODE AND T6.RCDSTS = 'A'
		LEFT JOIN TPRODUCER T7 ON T1.PRDUCODESR2 = T7.PRDUCODE AND T7.RCDSTS = 'A'  
	    LEFT JOIN TCOMPBRNCOUNTY T8 ON T8.COUNTYCODE = T5.COUNTYCODE 
		LEFT JOIN (SELECT RANK() OVER(PARTITION BY POLNO ORDER BY DATESTMP DESC) ROW_NUM, POLNO, NOTE 
				FROM TPOLNOTE
				WHERE POLNO = @policyNo AND RCDSTS = 'A') T9 ON T1.POLNO = T9.POLNO AND T9.ROW_NUM = 1
		WHERE t1.POLNO = @policyNo
            AND t1.RCDSTS = 'A' 
            AND t2.RCDSTS = 'A'
			AND T3.RCDSTS = 'A'
			AND T4.RCDSTS = 'A'
	END
	
	IF(@sectionId = 'memb_base')
	BEGIN

		SELECT 
			CertNo = T1.CERTNO,
			LastName = T1.NAMELAST,
			DEPTYPE = CASE WHEN T1.DEPCODE = 1 THEN N'员工' ELSE T8.DEPDESC END, 
			--MemberID = T3.MEMBERID,
			MemStatus = (CASE WHEN T1.[STATUS] = 'S' THEN N'暂停' 
						 WHEN T1.[STATUS] = 'T' THEN N'终止' 
						 ELSE N'生效' END),
			Sex = CASE WHEN T1.Sex = 'F' THEN N'女' ELSE N'男' END,
			Nationality = RTRIM(T4.Cntycode) + '' + T4.CNTYNAME,
			DateOfBirth = CONVERT(CHAR(10), T1.Dob, 111),
			InitialEffDate = CONVERT(CHAR(10), T1.Inieffdt, 111),
			TransDate = CONVERT(CHAR(10), T1.Chgeffdt, 111),
			SubOfficeCode = T1.SUBOFFCODE,
			SubOfficeName = T5.SUBOFFNAME,
			DepartmentCode = T1.DEPARTCD,
			DepartmentName = T6.DeptName,
			IdentificationType = T1.IdentType + ' ' + T9.DICTDESCCN,
			IdentityNo = T1.Memidno,
			Title = T1.Occupation,
			OccupationCode = T1.OccupCode,
			OccupationClass = RTRIM(T1.OccupClass),
			EmploymentDate = T1.Empdt,
			Salary = T1.Salary,
			MartialStatus = CASE T1.MARITAL 
						WHEN 'S' THEN N'未婚' 
						WHEN 'M' THEN N'已婚'
						WHEN 'D' THEN N'离异'
						ELSE N'保密' END,
			CSRefNo = RTRIM(T1.CLNTCODE) + RTRIM(T1.CERTNO) + '01',
			SpecialStatus = CASE WHEN T1.SPECIALSTATUS IS NOT NULL 
							THEN RTRIM(T7.PARMSHORT)+ rtrim(T7.PARMDESC) ELSE '' END,
			Employed = CASE WHEN RTRIM(T1.Employed) = 'Y' THEN N'在职' ELSE N'退休' END,
			SHIP = CASE WHEN T1.SHIP = 'Y' THEN N'是' ELSE N'否' END,
			TelNo = ISNULL(T10.TELNO, T10.TelNo_Mobile ),
			EmailAdrr = T10.EMAILCODE,
			Beneficiary = T11.BENNAME ,
			eworksheet = '',
			RcdUser = T12.USERID + ' ' + T12.USERNAME
        FROM ( 
			 SELECT 'M' as DEPTYPE,CERTNO,CLNTCODE,1 AS DEPCODE,SUBOFFCODE,[STATUS],Occupation,Memnation, 
			 NAMELAST,NAMEFIRST,NAMEMID,Inieffdt,Effdate,Chgeffdt,Employed,DEPARTCD,IdentType,
			 Memidno,OccupCode,OccupClass,Dob,Empdt,MARITAL,Salary,SPECIALSTATUS,IDIssDate,IDIssPlace,Sex,SHIP ,RCDUSRID,
			 RANK() OVER (PARTITION BY CLNTCODE, CERTNO ORDER BY EFFDATE DESC, CHGEFFDT DESC ) ROW_NUM 
			 FROM TMEMBER
			 WHERE CLNTCODE = @clientCode
			 AND CERTNO = @certNo 
			 AND RCDSTS = 'A' 
			 AND EFFDATE < GETDATE()
         UNION ALL
         (
			 SELECT DEPT.DEPTYPE,DEPT.CERTNO,DEPT.CLNTCODE,DEPT.DEPCODE,MEM.SUBOFFCODE,DEPT.[STATUS],MEM.Occupation,MEM.Memnation, 
				 DEPT.NAMELAST,DEPT.NAMEFIRST,DEPT.NAMEMID,DEPT.Inieffdt,DEPT.Effdate,DEPT.Chgeffdt,MEM.Employed,MEM.DEPARTCD,DEPT.IdentType,
				 DEPT.DEPIDNO AS Memidno,MEM.OccupCode,DEPT.OccupClass,DEPT.Dob,MEM.Empdt,MEM.MARITAL,MEM.Salary,DEPT.SPECIALSTATUS,
				 MEM.IDIssDate,MEM.IDIssPlace,DEPT.Sex,MEM.SHIP,DEPT.RCDUSRID,
				 RANK() OVER (PARTITION BY DEPT.CLNTCODE, DEPT.CERTNO, DEPT.DEPCODE ORDER BY DEPT.EFFDATE DESC, DEPT.CHGEFFDT DESC ) ROW_NUM 
			 FROM TDEPENDENT DEPT  
			 INNER JOIN  (SELECT CERTNO,CLNTCODE,SUBOFFCODE,[STATUS],Occupation,Memnation, SHIP,
				 NAMELAST,NAMEFIRST,NAMEMID,Inieffdt,Effdate,Chgeffdt,Employed,DEPARTCD,IdentType,
				 Memidno,OccupCode,OccupClass,Dob,Empdt,MARITAL,Salary,SPECIALSTATUS,IDIssDate,IDIssPlace,
				 RANK() OVER (PARTITION BY CLNTCODE, CERTNO ORDER BY EFFDATE DESC, CHGEFFDT DESC ) ROW_NUM 
				 FROM TMEMBER 
				 WHERE CLNTCODE = @clientCode
				 AND CERTNO = @certNo 
				 AND RCDSTS = 'A' 
				 AND EFFDATE < GETDATE()) MEM 
			 ON  DEPT.CERTNO = MEM.CERTNO 
			 AND DEPT.CLNTCODE = MEM.CLNTCODE
			 AND MEM.ROW_NUM = 1
			 WHERE DEPT.CLNTCODE = @clientCode
			 AND DEPT.CERTNO = @certNo 
			 AND DEPT.RCDSTS = 'A' 
			 AND DEPT.CHGEFFDT < GETDATE() 
         )
        )  T1 
        --LEFT JOIN TUHCFAMILYID T2 ON T1.CLNTCODE = T2.CLNTCODE AND T2.CERTNO = T1.CERTNO AND T1.ROWNO2 = 1
        --LEFT JOIN TUHCMEMBERID T3 ON T2.FAMILYID = T3.FAMILYID AND T3.DEPCODE = 1
        LEFT JOIN TCOUNTRY T4 ON T1.Memnation = T4.Cntycode AND T4.RCDSTS = 'A' 
        LEFT JOIN TCLNTSUB T5 ON T5.CLNTCODE = T1.CLNTCODE AND T5.SUBOFFCODE = T1.SUBOFFCODE
        LEFT JOIN TDepartment T6 ON T6.DeptCode = T1.DEPARTCD AND T6.CLNTCODE = T1.CLNTCODE AND T6.SUBOFFCODE = T1.SUBOFFCODE
        LEFT JOIN TADDINFO T7 ON T7.INFODESC = 'Special Status' AND T7.PARMSHORT = T1.SPECIALSTATUS AND T7.RCDSTS = 'A'
		LEFT JOIN TDEPTYPE T8 ON T1.DEPTYPE = T8.DEPTYPE 
		LEFT JOIN (SELECT DISTINCT DICTCODE,DICTDESCCN FROM TCIRCSYSDICT WHERE DICTTYPE = 'CRITTYPE') T9 ON T1.IDENTTYPE = T9.DICTCODE
		LEFT JOIN TMEMADDR T10 ON T1.CLNTCODE = T10.CLNTCODE AND T1.CERTNO = T10.CERTNO AND T10.RCDSTS = 'A'
		LEFT JOIN (SELECT RANK() OVER(PARTITION BY CLNTCODE, CERTNO, POLNO ORDER BY RCDDTSTMP DESC, BENSHARE DESC) ROW_NUM,CLNTCODE,CERTNO,BENNAME 
				FROM TMEMBENY WHERE RCDSTS = 'A' AND CLNTCODE = @clientCode AND CERTNO = @certNo AND POLNO = @policyNo)T11 ON T11.ROW_NUM = 1
			AND T1.CLNTCODE = T11.CLNTCODE AND T1.CERTNO = T11.CERTNO 
		LEFT JOIN TUSERPROF T12 ON T12.USERID = T1.RCDUSRID
        WHERE T1.ROW_NUM = 1
		AND T1.DepCode = @deptCode
	end
	
	IF(@sectionId = 'cove_list')
	BEGIN
		SELECT 
			POLNO = T1.POLNO,
			SubOfficeCode = T1.SUBOFFCODE,
			ProductCode = T1.PRODCODE,
			ProductShortName = T4.PRODSHORT,
			PlanNo = T1.BENPLNCD,
			PlanDesc = T8.PLNDESC,
			DepCode = CASE WHEN T1.DEPCODE = 1 THEN N'员工' ELSE T5.DEPDESC END, 
			Age = CASE WHEN T1.DepCode <> 1 THEN DATEDIFF(YEAR,ISNULL(T3.DOB,GETDATE()),GETDATE()) 
					ELSE DATEDIFF(YEAR,ISNULL(T2.DOB,GETDATE()),GETDATE())
					END,
			CoverageCode = ISNULL(T6.COVGCNAME, N'其他'),
			[Status] = (CASE WHEN T1.PRDSTATUS = 'S' THEN N'暂停' 
							 WHEN T1.PRDSTATUS = 'T' THEN N'终止' 
							 ELSE N'生效' END),
			--ChangeEffDate = T1.CHGEFFDATE,
			InforceSA = T1.PROLFIA,
			NELAmount = T1.NELAMT,
			TransDate = CONVERT(CHAR(10), T1.CHGEFFDT, 111),
			FlatLoadingRate = T1.PRMLOADAMT,
			UWLoading = T1.PRMLOADPC,
			ExtraMortality = T1.MEDRATCODE,
			BillNumber = T1.BILLNO
        FROM (
			SELECT CLNTCODE, CERTNO, POLNO, SUBOFFCODE,DEPCODE,
				PRODCODE,BENPLNCD,COVGCODE,PRDSTATUS,CHGEFFDATE,
				PROLFIA,NELAMT,CHGEFFDT,PRMLOADAMT,PRMLOADPC,
				MEDRATCODE,BILLNO,
				RANK() OVER(PARTITION BY CLNTCODE, CERTNO, DEPCODE, POLNO, PRODCODE, COVGCODE
				 ORDER BY CHGEFFDATE DESC, CHGEFFDT DESC) ROWNUM
			FROM TMEMPTPOL  
			WHERE CLNTCODE = @clientCode 
			AND CERTNO = @certNo
			AND POLNO = @policyNo
			AND RCDSTS = 'A'
			AND	CHGEFFDATE <= GETDATE()
        ) T1
        LEFT JOIN (SELECT CLNTCODE,CERTNO,DOB,RANK() OVER( PARTITION BY CLNTCODE, CERTNO ORDER BY EFFDATE DESC, CHGEFFDT DESC) ROWNUM
					FROM TMEMBER 
					WHERE CLNTCODE = @clientCode
					AND CERTNO = @certNo 
					AND RCDSTS = 'A'
					AND EFFDATE < GETDATE()) T2
            ON T2.ROWNUM = 1 AND T1.CERTNO = T2.CERTNO AND T1.CLNTCODE = T2.CLNTCODE AND T1.DepCode = 1
        LEFT JOIN (SELECT CLNTCODE,CERTNO,DEPCODE,DOB,DEPTYPE,RANK() OVER( PARTITION BY CLNTCODE, CERTNO,DEPCODE ORDER BY EFFDATE DESC, CHGEFFDT DESC) ROWNUM
					FROM TDEPENDENT 
					WHERE CLNTCODE = @clientCode  
					AND CERTNO = @certNo 
					AND RCDSTS = 'A'
					AND EFFDATE < GETDATE()) T3
            ON T3.ROWNUM = 1 AND T1.CERTNO = T3.CERTNO AND T1.CLNTCODE = T3.CLNTCODE AND T1.DepCode = T3.DepCode
        LEFT JOIN TPRODUCT T4 ON T1.PRODCODE = T4.PRODCODE AND T4.RCDSTS = 'A'
		LEFT JOIN TDEPTYPE T5 ON T3.DEPTYPE = T5.DEPTYPE 
		LEFT JOIN TCOVERAGE T6 ON T1.COVGCODE = T6.COVGCODE AND T6.RCDSTS = 'A'
		LEFT JOIN (SELECT POLNO, PRODCODE, EFFDATE, RANK() OVER (PARTITION BY POLNO, PRODCODE ORDER BY EFFDATE DESC ) ROWNO FROM TPOLPDT 
					WHERE POLNO = @policyNo 
					AND RCDSTS = 'A'   
					AND CHGEFFDT <= GETDATE()) T7 
			ON T1.PRODCODE = T7.PRODCODE AND T7.ROWNO = 1 
		LEFT JOIN (SELECT RANK() OVER(PARTITION BY POLNO, PRODCODE, EFFDATE ORDER BY BENPLNCD) ROW_NUM, POLNO, PRODCODE, EFFDATE, BENPLNCD, PLNDESC
				FROM TPOLPDTPLN
				WHERE POLNO = @policyNo AND RCDSTS = 'A') T8 ON T7.POLNO = T8.POLNO 
		AND T7.PRODCODE = T8.PRODCODE
		AND T7.EFFDATE = T8.EFFDATE
		AND T1.BENPLNCD = T8.BENPLNCD
        WHERE T1.ROWNUM = 1
		AND T1.DepCode = @deptCode
	END
	
END