IF EXISTS (SELECT 1 FROM SYSOBJECTS WHERE ID = OBJECT_ID('dbo.USPGNOVAValidation') AND sysstat & 0xf = 4)
	drop procedure dbo.USPGNOVAValidation
GO
CREATE PROCEDURE dbo.USPGNOVAValidation
(	@cMEMIDNO		VARCHAR(20), 
	@cNAME			NVARCHAR(30),
	@cCLNTCODE		VARCHAR(5),
	@cPRODCODE		CHAR(5)
) AS
/*******************************************************************
	COMPASS 2000 USER STORED PROCEDURE

	USPGNOVAValidation.SQL - Prepare TPOLPDTCOM table for TPOLPDTCOM_NOVA letter
        
        PROCESSING DETAILS:
        Prepare TPOLPDTCOM table for TPOLPDTCOM_NOVA letter
			
	AUTHOR      :     Issca Zhu
	DATE	    :     11/06/2014
	PIRNO	    :	  

	REVISION LOG:
	VERSION	  PIRNO		PROGRAMMER	REMARK		DATE		PURPOSE
        5.0	  NOVA		Issca Zhu				11/06/2014	Initial Version
********************************************************************/
/*error handling variable section */
BEGIN

SET NOCOUNT ON

DECLARE	@cACTIVE	CHAR(1)
SELECT @cACTIVE = 'A' 

SELECT  @cMEMIDNO AS MEMIDNO, @cNAME AS NAME, @cCLNTCODE AS CLNTCODE, @cPRODCODE AS PRODCODE
INTO #TMEMBER

--SELECT CLNTCODE,MEMIDNO,NAME INTO #TEMP1 FROM #TMEMBER

CREATE TABLE #TMESSAGE (MSG NVARCHAR(600) null)

INSERT INTO #TMESSAGE
SELECT DISTINCT N'人员 ' + NAME + '/'+ MEMIDNO + N' 在' + CLNTCODE + N'/' + POLNO + N'/' + CERTNO + N'中在保, 为重复投保' AS MSG			
FROM (
SELECT T2.CLNTCODE,T2.POLNO,T3.NAME,T3.MEMIDNO,T1.[STATUS],T2.PRDSTATUS,T1.CERTNO,
RANK() OVER(PARTITION BY T1.CLNTCODE,T1.CERTNO 
	ORDER BY T1.EFFDATE DESC,T1.CHGEFFDT DESC) ROWNO1,
RANK() OVER(PARTITION BY T2.CLNTCODE,T2.POLNO,T2.CERTNO,T2.DEPCODE,T2.PRODCODE,T2.COVGCODE,T2.BENPLNCD
	ORDER BY T2.CHGEFFDT DESC,T2.CHGEFFDATE DESC) ROWNO2
FROM TMEMBER T1 
INNER JOIN #TMEMBER T3 ON (T1.MEMIDNO = T3.MEMIDNO OR T1.MEMIDNO = LEFT(T3.MEMIDNO,6) + SUBSTRING(T3.MEMIDNO,10,9))
	AND T1.RCDSTS = 'A' 
	AND T1.EFFDATE <= GETDATE()
INNER JOIN TMEMPTPOL T2 ON T1.CLNTCODE = T2.CLNTCODE
	AND T1.CERTNO = T2.CERTNO
	AND T2.RCDSTS = 'A'
	AND T2.CHGEFFDATE <= GETDATE()
INNER JOIN TPOLPDT T4 ON T2.POLNO = T4.POLNO
INNER JOIN TPRODUCT T5 ON T5.PRODTYPE = 'P'
	AND T5.PRODCODE = T3.PRODCODE 
	AND NOT EXISTS ( SELECT 1 FROM TPRODUCT WHERE PRODCODE = T5.PRODCODE 
		AND ((PRODCODE NOT IN ('CEB16','CEB17','CPA12') 
		AND T3.PRODCODE = 'PACI2') OR 
			(PRODCODE = 'PACI2'
		AND T3.PRODCODE NOT IN ('CEB16','CEB17','CPA12') )))
	) T 
WHERE ROWNO1 = 1 
AND ROWNO2 = 1 
AND [STATUS] = 'A'
AND PRDSTATUS = 'A'
	
SELECT * FROM #TMESSAGE

DROP TABLE #TMESSAGE
DROP TABLE #TMEMBER
--DROP TABLE #TEMP1

return 

END

GO