if exists (select 1 from dbo.sysobjects where id = object_id(N'[dbo].[UspGNOVAGetMemPolByPolAndEffDate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
     drop procedure [dbo].[UspGNOVAGetMemPolByPolAndEffDate]
GO
/*********************** REVISION LOG: ***********************************
Version			Date			Revised by				Remark
1.0				20150331		Sting				initial
**************************************************************************/
CREATE PROCEDURE [dbo].[UspGNOVAGetMemPolByPolAndEffDate]
(	
	@cPolNo					CHAR(10),
	@cChangeEffDate         CHAR(10) 
)
AS
BEGIN
SET NOCOUNT ON

	
	IF EXISTS(select 1 from tpolpdt t1 INNER JOIN tproduct t2 ON t1.PRODCODE = t2.PRODCODE and t2.PRODTYPE = 'P' where POLNO = @cPolNo)
	BEGIN 
		SELECT distinct * INTO #TEMPPOLMEN FROM (SELECT distinct
			T11.CLNTCODE,
			T11.POLNO,
			T11.BENPLNCD,
			T11.SUBOFFCODE,
			T11.CERTNO,
			T11.DEPCODE,
			MEMNAME = NOVA.funReplaceSpecN(isnull(t12.NAMELAST,''),0),
			--DEPNAME = ISNULL(t13.NAMELAST,''),
			DEPNAME = '',
			--DEPDES = (CASE WHEN T13.DEPTYPE IS NOT NULL THEN T13.DEPTYPE ELSE 'M' END),
			DEPDES = N'员工',
			--DOB = (CASE WHEN T13.DOB IS NOT NULL THEN T13.DOB ELSE T12.DOB END),
			ADDR = NOVA.funReplaceSpecN(isnull(T14.ADDRESS1,''),0) 
				+ NOVA.funReplaceSpecN(isnull(T14.ADDRESS2,''),0) 
				+ NOVA.funReplaceSpecN(isnull(T14.ADDRESS3,''),0), 
			MEMNATION = NOVA.funReplaceSpecN(ISNULL(T15.CNTYNAME,''),0),
			DOB = convert(varchar, T12.DOB, 23),
			OCCUPATION = NOVA.funReplaceSpecN(isnull(T12.OCCUPATION,''),0),
			--MEMIDNO = (CASE WHEN T13.DEPIDNO IS NOT NULL THEN T13.DEPIDNO ELSE T12.MEMIDNO END),
			MEMIDNO = T12.MEMIDNO,
			--SEX = (CASE WHEN T13.SEX IS NOT NULL THEN T13.SEX ELSE T12.SEX END),
			SEX = (case T12.SEX when 'F' then N'女' else N'男' end),
			SALARY = T12.SALARY,
			EMPDT = convert(varchar, T12.EMPDT, 23),
			SHIP = (case T12.SHIP when 'Y' then N'是' else N'否' end),
			PRDSTATUS,
			[STATUS] = isnull(t12.[STATUS],''),
			RANK() OVER( PARTITION BY t11.CLNTCODE, t11.CERTNO, t11.DEPCODE, t11.POLNO, t11.PRODCODE, t11.BENPLNCD, t11.COVGCODE, t11.SUBOFFCODE
						ORDER BY t11.CHGEFFDATE DESC, t11.CHGEFFDT DESC) AS COVROWNUM,
			RANK() OVER(PARTITION BY T12.CLNTCODE, T12.CERTNO ORDER BY T12.CHGEFFDT DESC,T12.EFFDATE DESC) AS MEMROWNUM
			--RANK() OVER(PARTITION BY T13.CLNTCODE, T13.CERTNO ORDER BY T13.CHGEFFDT DESC,T13.EFFDATE DESC) AS DEPROWNUM 
						FROM TMEMPTPOL t11
			left join TMEMBER t12 on t11.CLNTCODE = t12.CLNTCODE and t11.CERTNO = t12.CERTNO and t12.EFFDATE <= @cChangeEffDate and t12.RCDSTS = 'A'
			left join TMEMADDR t14 on t12.CLNTCODE = t14.CLNTCODE and t12.CERTNO = t14.CERTNO
			--left join TDEPENDENT t13 on t11.CLNTCODE = t13.CLNTCODE and t11.CERTNO = t13.CERTNO and t11.DEPCODE = t13.DEPCODE 
			--			and t13.CHGEFFDT <= GETDATE() 
			left join TCOUNTRY t15 on T12.MEMNATION = t15.CNTYCODE
						where t11.RCDSTS = 'A' AND T11.DEPCODE = 1  and t11.POLNO = @cPolNo	and t11.CHGEFFDATE <= @cChangeEffDate
		) T WHERE COVROWNUM = 1 AND MEMROWNUM = 1 and PRDSTATUS = 'A' and [STATUS] = 'A'
		
		select PRODTYPE = 'P',t1.POLNO,t1.PRODCODE,t2.* from (select POLNO,PRODCODE,[STATUS],RANK() OVER(PARTITION BY POLNO,PRODCODE ORDER BY EFFDATE DESC) AS ROWNO from tpolpdt 
				where POLNO = @cPolNo and RCDSTS = 'A' AND EFFDATE <= @cChangeEffDate) t1 
			inner join #TEMPPOLMEN T2 on t1.POLNO = t2.POLNO 
				AND T1.ROWNO = 1 
				AND T1.[STATUS] = 'A'
		inner join tproduct t3 on t1.PRODCODE = t3.PRODCODE and t3.PRODTYPE = 'P' order by t1.POLNO,t2.CERTNO,t1.PRODCODE,t2.BENPLNCD

		DROP TABLE #TEMPPOLMEN
	END
	else
	begin
		SELECT distinct * FROM (SELECT distinct
			PRODTYPE = 'T',
			T11.CLNTCODE,
			PRODCODE = 'TMPRD',
			T11.POLNO,
			T11.BENPLNCD,
			T11.SUBOFFCODE,
			T11.CERTNO,
			T11.DEPCODE,
			MEMNAME = NOVA.funReplaceSpecN(isnull(t12.NAMELAST,''),0),
			--DEPNAME = ISNULL(t13.NAMELAST,''),
			DEPNAME = '',
			--DEPDES = (CASE WHEN T13.DEPTYPE IS NOT NULL THEN T13.DEPTYPE ELSE 'M' END),
			DEPDES = N'员工',
			--DOB = (CASE WHEN T13.DOB IS NOT NULL THEN T13.DOB ELSE T12.DOB END),
			ADDR = NOVA.funReplaceSpecN(isnull(T14.ADDRESS1,''),0) 
				+ NOVA.funReplaceSpecN(isnull(T14.ADDRESS2,''),0) 
				+ NOVA.funReplaceSpecN(isnull(T14.ADDRESS3,''),0), 
			MEMNATION = NOVA.funReplaceSpecN(ISNULL(T15.CNTYNAME,''),0),
			DOB = convert(varchar, T12.DOB, 23),
			OCCUPATION = NOVA.funReplaceSpecN(isnull(T12.OCCUPATION,''),0),
			--MEMIDNO = (CASE WHEN T13.DEPIDNO IS NOT NULL THEN T13.DEPIDNO ELSE T12.MEMIDNO END),
			MEMIDNO = T12.MEMIDNO,
			--SEX = (CASE WHEN T13.SEX IS NOT NULL THEN T13.SEX ELSE T12.SEX END),
			SEX = (case T12.SEX when 'F' then N'女' else N'男' end),
			SALARY = T12.SALARY,
			EMPDT = convert(varchar, T12.EMPDT, 23),
			SHIP = (case T12.SHIP when 'Y' then N'是' else N'否' end),
			PRDSTATUS,
			[STATUS] = isnull(t12.[STATUS],''),
			RANK() OVER( PARTITION BY t11.CLNTCODE, t11.CERTNO, t11.DEPCODE, t11.POLNO, t11.PRODCODE, t11.BENPLNCD, t11.COVGCODE, t11.SUBOFFCODE
						ORDER BY t11.CHGEFFDATE DESC, t11.CHGEFFDT DESC) AS COVROWNUM,
			RANK() OVER(PARTITION BY T12.CLNTCODE, T12.CERTNO ORDER BY T12.CHGEFFDT DESC,T12.EFFDATE DESC) AS MEMROWNUM
			--RANK() OVER(PARTITION BY T13.CLNTCODE, T13.CERTNO ORDER BY T13.CHGEFFDT DESC,T13.EFFDATE DESC) AS DEPROWNUM 
						FROM TMEMPTPOL t11
			left join TMEMBER t12 on t11.CLNTCODE = t12.CLNTCODE and t11.CERTNO = t12.CERTNO and t12.EFFDATE <= @cChangeEffDate and t12.RCDSTS = 'A'
			left join TMEMADDR t14 on t12.CLNTCODE = t14.CLNTCODE and t12.CERTNO = t14.CERTNO
			--left join TDEPENDENT t13 on t11.CLNTCODE = t13.CLNTCODE and t11.CERTNO = t13.CERTNO and t11.DEPCODE = t13.DEPCODE 
			--			and t13.CHGEFFDT <= GETDATE() 
			left join TCOUNTRY t15 on T12.MEMNATION = t15.CNTYCODE
						where t11.RCDSTS = 'A' AND T11.DEPCODE = 1  and t11.POLNO = @cPolNo	and t11.CHGEFFDATE <= @cChangeEffDate
		) T WHERE COVROWNUM = 1 AND MEMROWNUM = 1 and PRDSTATUS = 'A' and [STATUS] = 'A'
	end
	
END
	